<aside id="header">
    <div id="headerContent">
      <div id="toggleNav" class="icn iNav"></div>
      <div id="pageTitle">
          Infotheke
      </div>
      <div ng-click="navigate('info')" id="toTheInfo" class="icn iClose atTheInfo"></div>
    </div>
</aside>

<nav id="infoNavigation" class="dark">
    <ul>
        <li>Restaurants</li>
        <li class="active">So funktionierts</li>
        <li>Partner werden</li>
        <li>Kontakt</li>
        <li>Impressum</li>
    </ul>
</nav>

<div id="homeInfo" class="content dark">
  <section id="restaurantsOverview">
    <header>
      <h2>Restaurants</h2>
    </header>
    <div class="deliveringRestaurant">
      <h4>SUBWAY<span class="superscript">&reg;</span> Memmingen</h4>
      <p class="deliveryStatus delivering">
        <span class="deliveryIndicator"></span>
        liefert gerade
      </p>
    </div>
    <div class="deliveringRestaurant">
      <h4>SUBWAY<span class="superscript">&reg;</span> Unterschleißheim</h4>
      <p class="deliveryStatus notDelivering">
        <span class="deliveryIndicator"></span>
        liefert wieder ab 15:00
      </p>
    </div>
    <div class="deliveringRestaurant">
      <h4>SUBWAY<span class="superscript">&reg;</span> Garmisch-Partenkirchen</h4>
      <p class="deliveryStatus closed">
        <span class="deliveryIndicator"></span>
        liefert wieder ab 15:00
      </p>
    </div>
    <div class="deliveringRestaurant">
      <h4>SUBWAY<span class="superscript">&reg;</span> Oberhausen</h4>
      <p class="deliveryStatus delivering">
        <span class="deliveryIndicator"></span>
        liefert wieder ab 15:00
      </p>
    </div>
  </section>
  <section id="howItWorks">
    <header>
      <h2>So funktioniert's</h2>
    </header>
    <div></div>
  </section>
  <section id="nutritionInfo">
    <header>
      <h2>Nährwertangaben</h2>
    </header>
    <div>
      <p>
        Alle Infos über Nährwerte, Zusatzstoffe und Allergiehinweise sind hier als PDF verfügbar.
      </p>
      <div id="nutritionIcons">
        <a href="" class="nutritionIcon icn iFire"></a>
        <a href="" class="nutritionIcon icn iIngredients"></a>
        <a href="" class="nutritionIcon icn iAllergy"></a>
      </div>
    </div>
  </section>
  <section id="becomePartner">
    <header>
      <h2>Partner werden</h2>
    </header>
    <div>
      <p>
        Ein professioneller Lieferservice braucht eine professionelle Onlinetheke.
      </p>
      <p>
        Weil unser Bestellablauf bis ins Detail dem an der SUBWAY<span class="superscript">&reg;</span>-Theke gleicht, finden sich sowohl Mitarbeiter als auch Gäste sofort zurecht. Denn nicht nur vor der Theke, sondern auch dahinter bestehen die gewohnten SUBWAY<span class="superscript">&reg;</span>-Abläufe.
      </p>
      <p>
        Das ist der Grund, warum wir sub2home auch getrost "SUBWAY<span class="superscript">&reg;</span>-Onlinetheke" nennen können.
      </p>
      <p>
        Sie sind SUBWAY<span class="superscript">&reg;</span>-Franchisepartner und haben Interesse an der SUBWAY<span class="superscript">&reg;</span>-Onlinetheke? Gerne lassen wir Ihnen unverbindlich Informationen zukommen. Die Anmeldung ist kostenlos und in wenigen Schritten getan. Und wenn das Thema Lieferservice neu für Sie ist, greifen wir Ihnen selbstverständlich auch bei der Einrichtung im Store unter die Arme.
      </p>
      <p>
        Unsere Kontaktdaten finden Sie im nächsten Abschnitt.
      </p>
    </div>
  </section>
  <section id="sub2homeContact">
    <header>
      <h1>sub2home
        <span class="subheadline">SUBWAY<span class="superscript">&reg;</span>-Onlinetheke</span>
      </h1>
    </header>
    <div class="addressInfo">
      c/o SUBWAY<span class="superscript">&reg;</span> Memmingen<br>
      Maximilianstraße 7<br>
      87700 Memmingen
    </div>
    <div class="waysToContact">
      <p><i class="icn iPhone"></i>08331 / 833 84 33</p>
      <p><i class="icn iFax"></i>08331 / 833 84 34</p>
      <a href="mailto:kontakt@sub2home.com"><i class="icn iMail"></i>kontakt@sub2home.com</a>
      <a href="http://facebook.com/sub2home"><i class="icn iFacebook"></i>/sub2home</a>
    </div>
  </section>
  <section id="impressum">
    <header>
      <h1>Impressum
      </h1>
    </header>
    <div id="impressumContent">
      <p>
        Verantwortlich für diese Seiten:<br>
        Sebastian Weigold <br>
        Ust-Nr. DE814879148<br>
      </p>
      <p>
        Wir bemühen uns die Inhalte unserer Seite aktuell zu halten. Trotz sorgfältiger Bearbeitung bleibt eine Haftung ausgeschlossen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
      </p>
      <h4>Urheberrecht</h4>
      <p>
        SUBWAY® Pictures Copyright © 2014 Doctor's Associates Inc., SUBWAY® is a registered trademark of Doctor's Associates Inc. Die aufgeführten Logos und Bilder unterliegen dem Urheberrecht der Doctor´s Associates Inc. Der Shopbetreiber ist SUBWAY® Franchisenehmer. Die hinterlegten Stores mit Lieferservice nutzen diesen Shop zur Präsentation ihrer SUBWAY® Restaurants eigenverantwortlich.
      </p>
      <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
      </p>
      <h4>Haftung für Links</h4>
      <p>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Für die Inhalte und die Richtigkeit der Informationen verlinkter Websites fremder Informationsanbieter wird keine Gewähr übernommen. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße OHNE BEANSTANDUNG überprüft. Bei bekannt werden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p>
      <h4>Haftung für Inhalte</h4>
      <p>
        Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen. Bei bekannt werden von Rechtsverletzungen, werden wir diese Inhalte umgehend entfernen. Eine diesbezügliche Haftung übernehmen wir erst ab dem Zeitpunkt der Kenntnis einer möglichen Rechtsverletzung.
      </p>
      <h4>Datenschutz</h4>
      <p>
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. Eine Vertraulichkeit im Hinblick auf die Datenschutzbestimmungen wird nur unter der vorstehenden Einschränkung gewährleistet. Insbesondere sollen alle Mitteilungen von personenbezogenen Daten über das Internet nur erfolgen, soweit nicht Rechte Dritter berührt werden. Es sei denn der Dritte hat in Kenntnis der vorstehenden Sicherheitslücken ebenfalls seine Zustimmung erklärt. Eine Haftung des Seitenbetreibers wird für die durch solche Sicherheitslücken entstehenden Schäden oder Unterlassungsansprüche ausgeschlossen.
      </p>
      <p>
        Der Nutzung von allen veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung wird widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
      </p>
      <p>
        Quelle: S&K Rechtsanwälte www.streifler.de
      </p>
    </div>
  </section>
</div>
