<aside id="header">
    <div id="notification"></div>
    <div id="headerContent">
        <div id="toggleNav" class="icn iNav"></div>
        <div id="pageTitle">
            Infotheke
        </div>
        <div ng-click="navigate('/')" id="toTheInfo" class="icn iClose atTheInfo"></div>
    </div>
</aside>

<nav id="infoNavigation" class="dark">
    <ul>
        <!--<li>Restaurants</li>-->
        <!--         <li>So funktionierts</li> -->
        <li class="active">Partner werden</li>
        <li>Kontakt</li>
        <li>Impressum</li>
    </ul>
</nav>

<div id="homeInfo" class="content dark">
     <section ng-controller="HomeCommonCtrl" id="restaurantsOverview">
        <header>
            <h2>Restaurants</h2>
        </header>
        <div class="deliveringRestaurant" bindonce ng-repeat="storeModel in storesCollection" ng-click="navigate(storeModel.alias)">
          <h4>SUBWAY<span class="superscript">&reg;</span> <span bo-text="storeModel.title"></span></h4>
            <p class="deliveryStatus" ng-class="{delivering: isDelivering(storeModel), closed: !storeModel.isOpen, notDelivering: !isDelivering(storeModel)}">
                <span class="deliveryIndicator"></span>
                <span bo-text="getDeliveryTimeString(storeModel)"></span>
            </p>
        </div>

      </section>
    <!--   <section id="howItWorks">
    <header>
      <h2>So funktioniert's</h2>
    </header>
    <div></div>
  </section> -->
    <section id="nutritionInfo">
        <header>
            <h2>Nährwertangaben</h2>
        </header>
        <div>
            <p>
                Alle Infos über Nährwerte, Zusatzstoffe und Allergiehinweise sind hier als PDF verfügbar.
            </p>
            <div id="nutritionIcons">
                <a href="https://d3uu6huyzvecb1.cloudfront.net/documents/static/naehrwerte.pdf" class="nutritionIcon icn iFire" target="_blank"></a>
                <a href="https://d3uu6huyzvecb1.cloudfront.net/documents/static/zusatzstoffe.pdf" class="nutritionIcon icn iIngredients" target="_blank"></a>
                <a href="https://d3uu6huyzvecb1.cloudfront.net/documents/static/allergiehinweise.pdf" class="nutritionIcon icn iAllergy" target="_blank"></a>
            </div>
        </div>
    </section>
    <section id="becomePartner">
        <header>
            <h2>Partner werden</h2>
        </header>
        <div class="column">
            <p>
                Ein professioneller Lieferservice braucht eine professionelle Onlinetheke.
            </p>
            <p>
                Weil unser Bestellablauf bis ins Detail dem an der SUBWAY
                <span class="superscript">&reg;</span>-Theke gleicht, finden sich sowohl Mitarbeiter als auch Gäste sofort zurecht. Denn nicht nur vor der Theke, sondern auch dahinter bestehen die gewohnten SUBWAY
                <span class="superscript">&reg;</span>-Abläufe.
            </p>
            <p>
                Das ist der Grund, warum wir sub2home auch getrost "SUBWAY
                <span class="superscript">&reg;</span>-Onlinetheke" nennen können.
            </p>
        </div><div class="column">
            <p>
                Sie sind SUBWAY<span class="superscript">&reg;</span>-Franchisepartner und haben Interesse an der SUBWAY<span class="superscript">&reg;</span>-Onlinetheke? Gerne lassen wir Ihnen unverbindlich Informationen zukommen. Die Anmeldung ist
                kostenlos und in wenigen Schritten getan. Und wenn das Thema Lieferservice neu für Sie ist, greifen wir Ihnen selbstverständlich auch bei der Einrichtung im Store unter die Arme.
            </p>
            <p>
                Unsere Kontaktdaten finden Sie im nächsten Abschnitt.
            </p>
        </div>
    </section>
    <section id="sub2homeContact">
        <header>
            <h1>sub2home
        <span class="subheadline">SUBWAY<span class="superscript">&reg;</span>-Onlinetheke</span>
      </h1>
        </header>
        <div class="column">
            <p>
                c/o SUBWAY<span class="superscript">&reg;</span> Memmingen
                <br>Maximilianstraße 7
                <br>87700 Memmingen
            </p>
        </div><div class="column waysToContact">
            <p><i class="icn iPhone"></i>08331 / 833 84 33</p>
            <p><i class="icn iFax"></i>08331 / 833 84 34</p>
            <a href="mailto:kontakt@sub2home.com"><i class="icn iMail"></i>kontakt@sub2home.com</a>
            <a href="http://facebook.com/sub2home"><i class="icn iFacebook"></i>/sub2home</a>
        </div>
    </section>
    <section id="impressum">
        <header>
            <h1>Impressum</h1>
        </header>
        <div id="impressumContent">
            <p>
                Verantwortlich für diese Seiten:
                <br>Sebastian Weigold
                <br>Ust-Nr. DE814879148
                <br>
            </p>
            <p>
                Wir bemühen uns die Inhalte unserer Seite aktuell zu halten. Trotz sorgfältiger Bearbeitung bleibt eine Haftung ausgeschlossen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
            </p>
            <h4>Urheberrecht</h4>
            <p>
                SUBWAY® Pictures Copyright © 2014 Doctor's Associates Inc., SUBWAY® is a registered trademark of Doctor's Associates Inc. Die aufgeführten Logos und Bilder unterliegen dem Urheberrecht der Doctor´s Associates Inc. Der Shopbetreiber ist SUBWAY® Franchisenehmer.
                Die hinterlegten Stores mit Lieferservice nutzen diesen Shop zur Präsentation ihrer SUBWAY® Restaurants eigenverantwortlich.
            </p>
            <p>
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen
                Zustimmung des jeweiligen Autors bzw. Erstellers.
            </p>
            <h4>Haftung für Links</h4>
            <p>
                Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Für die Inhalte und die Richtigkeit
                der Informationen verlinkter Websites fremder Informationsanbieter wird keine Gewähr übernommen. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße OHNE BEANSTANDUNG überprüft. Bei bekannt werden von
                Rechtsverletzungen werden wir derartige Links umgehend entfernen.
            </p>
            <h4>Haftung für Inhalte</h4>
            <p>
                Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen. Bei bekannt werden von Rechtsverletzungen, werden wir diese Inhalte umgehend entfernen. Eine diesbezügliche
                Haftung übernehmen wir erst ab dem Zeitpunkt der Kenntnis einer möglichen Rechtsverletzung.
            </p>
            <h4>Datenschutz</h4>
            <p>
                Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. Eine Vertraulichkeit im Hinblick auf
                die Datenschutzbestimmungen wird nur unter der vorstehenden Einschränkung gewährleistet. Insbesondere sollen alle Mitteilungen von personenbezogenen Daten über das Internet nur erfolgen, soweit nicht Rechte Dritter berührt werden. Es sei
                denn der Dritte hat in Kenntnis der vorstehenden Sicherheitslücken ebenfalls seine Zustimmung erklärt. Eine Haftung des Seitenbetreibers wird für die durch solche Sicherheitslücken entstehenden Schäden oder Unterlassungsansprüche ausgeschlossen.
            </p>
            <p>
                Der Nutzung von allen veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung wird widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung
                von Werbeinformationen, etwa durch Spam-Mails, vor.
            </p>
            <p>
                Quelle: S&K Rechtsanwälte www.streifler.de
            </p>
        </div>
    </section>
    <section id="datenschutzerklaerung">
        <header>
            <h1>Datenschutzerklärung</h1>
        </header>
        <div id="impressumContent">
            <h4>Einwilligung zur Datenverarbeitung</h4>
            <p>
                Für die Bearbeitung von Anfragen oder Mitteilungen bitten wir Sie um die Angabe persönlicher Daten. Der Umfang und die Verwendung der übermittelten Daten erfolgen mit der gebotenen Sorgfalt und nur zur Bearbeitung Ihres Anliegens. Wir erfassen Daten ausschließlich im notwendigen Umfang und in Übereinstimmung mit den deutschen Gesetzen zu Datenschutz und Datensicherheit. Es erfolgt keine Weitergabe von Daten an Dritte oder eine anderweitige Vermarktung.
            </p>

            <h4>Verwendung von Cookies</h4>
            <p>
                Diese Seite verwendet sog. Cookies, die auf Ihrem Computer abgespeichert werden. Bei “Cookies” handelt es sich um kleine Textdateien, die von einer Website lokal im Speicher Ihres Internet-Browsers auf dem von Ihnen genutzten Rechner abgelegt werden können. Cookies ermöglichen insbesondere die Wiedererkennung des Internet-Browsers. Die Cookies unserer Website erheben keine persönlichen Daten über Sie oder Ihre Nutzung. Einmal gesetzte Cookies können Sie jederzeit selbst löschen, indem Sie den entsprechenden Menüpunkt in Ihrem Internet-Browser aufrufen oder die Cookies auf Ihrer Festplatte löschen. Einzelheiten hierzu finden Sie im Hilfemenü Ihres Internet-Browsers.
            </p>
            <p>
                <a href="http://de-de.facebook.com/policy.php" target="_blank">de-de.facebook.com/policy.php</a>
            </p>
            <p>
                Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
            </p>

            <h4>Weitergabe an Restaurants</h4>
            <p>
                Sub2Home.com gibt Ihre personenbezogenen Daten (Name, Daten zur Anschrift und Telefonnummer, Bestellung) an das von Ihnen ausgewählte Restaurant weiter, damit das Restaurant Ihre Bestellung liefern kann. Da Sie ein direkter Kunde des Restaurants sind, hat das Restaurant eine eigene Verantwortung und eigene Pflichten im Hinblick auf die Verarbeitung Ihrer personenbezogenen Daten. Sofern Sie Fragen zum Umgang mit Ihren personenbezogenen Daten seitens des Restaurants haben, sollten Sie sich direkt mit dem Restaurant in Verbindung setzen.
            </p>

            <h4>Datenschutzerklärung für die Nutzung von Google Analytics</h4>
            <p>
                Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (“Google”). Google Analytics verwendet sog. “Cookies”, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert.
            </p>
            <p>
                Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google Inc. in Verbindung bringen.
            </p>
            <p>
                Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: ​<a href="http://tools.google.com/dlpage/gaoptout?hl=de​" target="_blank">tools.google.com/dlpage/gaoptout?hl=de​</a>.
            </p>
            <p>
                <b>Wir weisen Sie darauf hin, dass auf dieser Webseite Google Analytics um den Code „ga(‘set’, ‘anonymizeIp’, true);“ erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen zu gewährleisten.</b>
            </p>
        </div>
    </section>
</div>
