<div class="container">
    <p>
        Wir sind frühestens zur angezeigten Uhrzeit bei dir. Oder willst du erst später
        beliefert werden?
    </p>
    <div id="deliveryTimeClock" class="notEarlier">
        <div id="hours">
            {{hours}}
            <div ng-click="hourUp()" class="clockControls up"></div>
            <div ng-click="hourDown()" class="clockControls down"></div>
        </div>
        <div id="dividingDots">:</div>
        <div id="minutes">
            00
            <div class="clockControls up"></div>
            <div ng-click="minutesDown()" class="clockControls down"></div>
        </div>
    </div>
</div>
