<div bindonce class="container">
    <p>
        Wir sind frühestens in <span class="emphasized"><span bo-text="deliveryAreaModel.minimumDuration"></span> Minuten</span> bei dir. Oder willst du erst später beliefert werden?
    </p>

    <div id="deliveryTimeClock" class="notEarlier">
        <div id="hours">
            {{orderDate.getHours() | numberFixedLength:2}}
            <div ng-class="{unavailable: hoursUpUnavailable}" ng-click="hoursUp()" class="clockControls up"></div>
            <div ng-class="{unavailable: hoursDownUnavailable}" ng-click="hoursDown()" class="clockControls down"></div>
        </div>
        <div id="dividingDots">:</div>
        <div id="minutes">
             {{orderDate.getMinutes() | numberFixedLength:2}}
             <div ng-class="{unavailable: minutesUpUnavailable}" ng-click="minutesUp()" class="clockControls up"></div>
             <div ng-class="{unavailable: minutesDownUnavailable}" ng-click="minutesDown()" class="clockControls down"></div>
        </div>
    </div>
</div>
