<aside id="header">
    <div id="notification"></div>
    <div id="headerContent">
        <div id="ownLogo" class="icn iSub"></div>
        <div id="pageTitle">
            SUBWAY<span class="superscript">&reg;</span>-Onlinetheke
        </div>
        <div ng-click="navigate('info')" id="toTheInfo" class="icn iInfo"></div>
    </div>
</aside>

<div id="notAvailable" class="content dark fillPage">
    <div id="notAvailableContent">
        <div class="icn i404"></div>
        <p>
            Was du suchst, findest du hier leider nicht. Manchmal muss man dann einfach von
            vorne anfangen.
        </p>
        <div ng-click="navigate('/')" class="button">
            Startseite
        </div>
    </div>
</div>
