<div>
  <aside id="header">
<!--     <div id="getBack">
      zurück ///////// ZUM SORTIMENT (entspr. Icon)
    </div> -->
    <div id="toTheInfo" class="icn iInfo"></div>
    <div id="toTheTray" class="atTray">
      <div id="trayTitle">Dein Tablett</div>
      <div class="icn iTray">
        <span id="traySize">5</span>
      </div>
      <div id="trayValue" class="sufficing">
        <div id="currentValue">16,50 €</div>
        <div id="minValue">(min. 15,00€)</div>
      </div>
    </div>
  </aside>

  <div id="storeTray" class="content">

    <section id="ingredients">

    </section>
  </div>

</div>
