<div>
    <aside id="header" class="noSelect">
        <div id="notification"></div>
        <div id="headerContent">
            <div id="getBack" ng-click="navigate(lastPage.path)">
                <p bindonce bo-text="lastPage.title"></p>
            </div>
            <div id="toTheTray" class="atTray" bindonce>
                <div id="trayTitle">Kasse</div>
                <div class="icn iCashRegister">
                    <span id="traySize" bo-text="numberOfItems"></span>
                </div>
                <div id="trayValue" ng-class="{sufficing: deliveryAreaModel.minimumValue <= totalAmount}">
                    <div id="currentValue">{{totalAmount | number:2}} €</div>
                    <div id="minValue">(min. {{deliveryAreaModel.minimumValue | number:2}} €)</div>
                </div>
            </div>
            <div ng-click="navigate(':storeAlias/info')" id="toTheInfo" class="icn iInfo"></div>
        </div>
    </aside>

    <div class="content note" id="storeTray" bindonce>
        <div id="minimumOrderValue" class="note" bo-if="deliveryAreaModel.minimumValue > totalAmount">
            <div id="minimumOrderValueContent">
                <p bo-text="'Leider hast du den Mindestbestellwert von ' + deliveryAreaModel.minimumValue + ' € noch nicht erreicht.'"></p>
                <p ng-click="navigate(':storeAlias')" class="button">Vielleicht noch ein Sub?</p>
            </div>
        </div>
        <div id="storeTrayMainContent">


            <section id="traySummary">
                <header>
                    <h3>1) Deine Bestellung</h3>
                </header>

                <!-- articles other than subs -->
                <single-item ng-repeat="singleItem in allSingleItems"></single-item>

                <!-- Subs -->
                <sub-item ng-repeat="subItem in allSubItems"></sub-item>

                <!-- menu bundles -->
                <menu-item ng-repeat="menuItem in allMenuItems"></menu-item>


                <div id="totalValueContainer">
                    <div id="totalValueLabel">Gesamtbestellwert</div>
                    <div id="totalValue" class="price" bindonce="totalAmount" bo-text="totalAmount | number: 2"></div>
                </div>
            </section>

            <section id="setDeliveryTime">
                <header>
                    <h3>2) Deine Wunsch-Lieferzeit</h3>
                </header>
                <clock order-minutes="orderMinutes" store-model="storeModel" delivery-area-model="deliveryAreaModel"></clock>
            </section>

            <section id="setDeliveryAddress">
                <header>
                    <h3>3) Deine Lieferadresse</h3>
                </header>
                <delivery-address-form> </delivery-address-form>
            </section>

            <!--<section id="setBonusOptions">-->
            <!--<header>-->
            <!--<h3>4) Subcard & Gratiscookie</h3>-->
            <!--</header>-->
            <!--<div class="container ">-->
            <!--<div class="trayQuestion">-->
            <!--<p class="questionText ng-hide">Hast du eine Subcard?</p>-->
            <!--<div class="triggerQuestion ng-hide"></div>-->
            <!--<div class="trayQuestionContent subcardContent success">-->
            <!--<p class="preSuccess">-->
            <!--Fotografiere den QR-Code deiner Subcard und lade ihn hier hoch, um Punkte zu sammeln.-->
            <!--</p>-->
            <!--<p class="postSuccess">-->
            <!--Glückwunsch! Dir werden für deine Bestellung 209 Pkt. gutgeschrieben.-->
            <!--</p>-->
            <!--<i class="icn iSubcard"></i>-->
            <!--</div>-->

            <!--</div>-->
            <!--<div class="trayQuestion">-->
            <!--<p class="questionText ng-hide">Möchtest du einen Gratis-Cookie einlösen?</p>-->
            <!--<div class="triggerQuestion ng-hide"></div>-->
            <!--<div class="trayQuestionContent inputContent">-->
            <!--<input type="text" name="gratiscookieInput" placeholder="XX-XX-XXXX-X" value="">-->
            <!--<p>-->
            <!--Den xx-stelligen Code findest du ... [hier muss ein passender Erklärungstext hin]-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</section>-->

            <section id="setPaymentMethod">
                <header>
                    <h3>4) Deine Zahlungsart</h3>
                </header>
                <div class="container">
                    <div id="paymentMethods" class="noSelect">
                        <div ng-class="{'active': formData.payment === 'cash'}" ng-click="formData.payment = 'cash'" class="paymentMethod">Bar
                        </div>
                        <div ng-class="{'active': formData.payment === 'ec'}" ng-click="formData.payment = 'ec'"
                        class="paymentMethod">Ec-Karte
                        </div>
                        <!-- <div ng-class="{'active': formData.payment === 'creditCard'}" ng-click="formData.payment = 'creditCard'"
                                class="paymentMethod">Kreditkarte</div> -->
                    </div>
                    <p>
                        Die EC-Kartenzahlung erfolgt an der Haustür mit einem Kartenleser
                    </p>
                </div>
            </section>

            <section ng-if="deliveryAreaModel.minimumValue > totalAmount" id="sendOrderHint">
                <i class="icn iFlag"></i>
                <h4>Wenn du den Mindestbestellwert erreicht hast, kannst du an dieser Stelle die Bestellung abschicken</h4>
            </section>

            <section ng-if="deliveryFormError" id="sendOrderHint">
                <i class="icn iFlag"></i>
                <h4>Bitte fülle alle notwendigen Felder bei deiner Lieferadresse aus</h4>
            </section>

            <!--<aside id="storyline" class="">-->
            <!--<ul>-->
            <!--<li class="passed"></li>-->
            <!--<li class="forgotten"></li>-->
            <!--<li class="passed previousNotPassed"></li>-->
            <!--<li class="active"></li>-->
            <!--<li></li>-->
            <!--</ul>-->
            <!--</aside>-->

        </div>
        <div bo-if="deliveryAreaModel.minimumValue <= totalAmount" id="sendOrder" class="note">
            <div class="container">
                <p>
                    Mit Klick auf "Bestellung abschicken" bestätigst du unsere
                    <a href="http://s3-eu-west-1.amazonaws.com/sub2home-static/documents/static/agb-gaeste.pdf">AGB</a>
                </p>
                <div ng-click="order()" id="sendOrderButton" class="noSelect">
                    Bestellung abschicken
                </div>
              </div>
        </div>
    </div>
</div>
