// Heights and Margins

@bodyPadding: 15px;
@headerHeight: 50px;
@notificationHeight: 25px;
@tabletNotificationHeight: 35px;

// Header Item Widths

@toTheInfoWidth:				48px;
@toggleNavWidth: 			 50px;
@toTrayWidth: 					50px;


html, body {
	font-family: @baseFontFamily;
	font-size: @mobileBaseFontSize;
	color: @textColor;

	-webkit-text-size-adjust:none;

	min-width: 320px;
	height: 100%;
	.noSelect;
}

body {

	// &.tableFix {

		> .ng-scope {
		/*overflow-x: hidden;*/
		height: 100%;

			> .ng-scope {
				height: 100%;
			}
		}
	// }
}

// Global

.logo {
	&:before {
		content: "\e60d";
		font-family: "Homicons";
	}
}

// Backgrounds -----------------------------------------------------------------

.note {
	.positioned;
	background: @noteBackground;
	z-index: 100;

	&.above {
		border-bottom: 1px solid @onNoteColor50;
		.box-shadow(0 1px 3px 0 @globalShadowColor15);
	}

	&.below {
		border-top: 1px solid @onNoteColor50;
		.box-shadow(0 -1px 3px 0 @globalShadowColor15);
	}

	&.fillPage {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		// bottom: 0;
		min-height: 100%;
	}
}

.dark {
	.positioned;
	background: @darkBackground;
	color: @white;
}

// Header ----------------------------------------------------------------------

@headerTopPadding: 	16px;

#header {
	position: fixed;
	top: -@notificationHeight;
	left: 0;
	right: 0;
	height: @headerHeight+@notificationHeight;
	overflow: visible;
	z-index: 9000;
	.translate(0,0,0);

	.transformTransition(.3s, ease);


	// Wooden Border

	&:after {
		content: " ";

		position: absolute;
		bottom: -3px;
		left: 0;
		right: 0;
		height: 4px;

		background: #7f4327; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmNDMyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzdmNDMyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzVjMzAxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzVjMzAxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzJjMTUwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzE1MGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #7f4327 0%, #7f4327 25%, #5c301c 25%, #5c301c 75%, #2c150b 75%, #2c150b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f4327), color-stop(25%,#7f4327), color-stop(25%,#5c301c), color-stop(75%,#5c301c), color-stop(75%,#2c150b), color-stop(100%,#2c150b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #7f4327 0%,#7f4327 25%,#5c301c 25%,#5c301c 75%,#2c150b 75%,#2c150b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #7f4327 0%,#7f4327 25%,#5c301c 25%,#5c301c 75%,#2c150b 75%,#2c150b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #7f4327 0%,#7f4327 25%,#5c301c 25%,#5c301c 75%,#2c150b 75%,#2c150b 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #7f4327 0%,#7f4327 25%,#5c301c 25%,#5c301c 75%,#2c150b 75%,#2c150b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f4327', endColorstr='#2c150b',GradientType=0 ); /* IE6-8 */

	}
}

#trayValue {
	display: inline-block;
	text-align: left;
	margin: 0 0 0 10px;
	position: relative;
	top: 3px;
	
	> div {
		font-size: 80%;

		&#minValue {
			color: @onHeaderColor50;
		}
	}
	&.sufficing {
		// margin-top: 8px;
		// > div {
		// 	font-size: 100%;
		// 	&#minValue {
		// 		display: none;
		// 	}
		// }
		#currentValue:after {
			content: "\e609";
			font-size: 13px;
			font-family: "Homicons";
			display: inline-block;
			margin-left: 5px;
			color: @onHeaderColor50;
		}
	}
}

#headerContent {

	display: table;
	font-size: 18px;
	color: @onHeaderColor;
	min-width: 320px;
	width: 100%;
	table-layout: fixed;

	// Background

	background: #e4c988; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0Yzk4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2VjZDM5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2VjZDM5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGM5ODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e4c988 0%, #ecd393 10%, #ecd393 90%, #e4c988 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4c988), color-stop(10%,#ecd393), color-stop(90%,#ecd393), color-stop(100%,#e4c988)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4c988 0%,#ecd393 10%,#ecd393 90%,#e4c988 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4c988 0%,#ecd393 10%,#ecd393 90%,#e4c988 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4c988 0%,#ecd393 10%,#ecd393 90%,#e4c988 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e4c988 0%,#ecd393 10%,#ecd393 90%,#e4c988 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4c988', endColorstr='#e4c988',GradientType=0 ); /* IE6-8 */
	 height: @headerHeight;
	 z-index: inherit;


	> div {
		display: table-cell;
		// float: left;
		height: 100%;
		.border-box;
		padding: @headerTopPadding 0 0 10px;

		&#pageTitle {

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-left: 0;
			padding-right: 10px;

			.icn {
				top: -2px;
				margin-right: 5px;
				font-size: 24px;
			}
			&.separate {
				padding-left: 10px;
				border-left: 1px solid @onHeaderColor50;
			}

			.itemInfo {
				color: @onHeaderColor50;
				font-size: 80%;
			}

			h3, p {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			h3 {
				font-size: 18px;
				line-height: 1;
			}

			p {
				font-size: 13px;
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				color: @onHeaderColor50;
			}

			&.twoLine {
				padding-top: 10px;
			}
		}

		&#toTheInfo {
			// float: right;
			padding: 14px 0 0;

			font-size: 22px;
			text-align: center;
			width: @toTheInfoWidth;

			cursor: pointer;

			border-left: 1px solid @onHeaderColor50;
		}

		&#toTheTray {
			// float: right;
			position: relative;
			background: @headerTrayBackground;
			border-left: 1px solid @onHeaderColor50;
			padding: 8px 10px 0;
			width: 55px;
			vertical-align: top;
			text-align: center;

			cursor: pointer;
			
			// "Kasse"
			
			width: 120px;
			
			&:before {
				content: "Kasse";
				display: inline-block;
				margin-right: 5px;
				position: relative;
				top: 3px;
			}

			.iTray {
				font-size: 34px;
			}
			
			#trayValue {
				display: none;
			}

			&.atTray {
				width: auto;
				
				#trayValue {
					display: inline-block;
				}

				.icn {
					display: inline-block;
				}
			}

			> div {
				vertical-align: middle;
			}
		}

		&#getBack {
			position: relative;
			font-size: 12px;
			padding: 13px 5px 0;
			vertical-align: top;
			width: 55px;
			text-align: center;
			.border-box;
			cursor: pointer;
			overflow: hidden;

			p {
				padding: 0;
				margin: 0;
			}

			&:before {
				content: "\e61d";
				position: relative;
				margin: 0 0 5px;
				display: block;

				font-family: "Homicons";
				font-size: 10px;

			}
		}
	}

	img {
		position: relative;
		top: -6px;
		display: inline-block;
		height: 30px;
		width: auto;
		vertical-align: top;
		margin-right: 5px;
	}
}

#traySize {
	display: block;
	position: absolute;
	bottom: -2px;
	right: -5px;
	min-width: 16px;
	height: 16px;
	background: @greenLight;
	color: @white;
	.img-circle;
	font-family: @baseFontFamily;
	font-size: 11px;
	text-align: center;
	.border-box;
	padding: 2px;
	line-height:1.2;
}

//#trayTitle {
//	display: inline-block;
//	margin: 8px 5px 0 0;
//}





#ownLogo {
	text-align: center;
	font-size: 35px;
	padding: 8px 10px 0 !important;
	color: @onHeaderColor50;
	width: 65px;
}

// Toggle Navigation

#toggleNav {

	padding-right: 9px !important;
	width: @toggleNavWidth;
	cursor: pointer;
	.rotate(0deg);
	.transformTransition(0.3s, ease);

	&:before {
		top: -5px;
	}
}


#notification {
	position: relative;
	height: @notificationHeight;
	padding: 6px 7px 0;
	.border-box;
	font-size: 13px;
	text-align: center;
	background: @greenLight;
//	color: darken(@greenLight, 20%);
	color: @white;
	z-index: 9100;

	&.trayNotification {
		&:after {
			content: "";
			position: absolute;
			right: 70px;
			bottom: -7px;
//			height: 7px;
//			width: 7px;

			border-style: solid;
			border-width: 8px 6px 0 6px;
			border-color: @greenLight transparent transparent transparent;
			.translate(0,-7px,0);
			.transformTransition(.1s, linear);
		}
	}

}

// Content ---------------------------------------------------------------------

.content {
	width: 100%;
	padding: @headerHeight+3px 0 0;
	text-align: center;
	.border-box;
}


// Common Elements -------------------------------------------------------------

p {
	padding: 10px @bodyPadding;

	a {
		text-decoration: underline;
	}
}

.column {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding: 0 20px;
	.border-box;

	p {
		padding: 5px 0 !important;
	}
}

.callToAction {
	color: @greenLight;

}

.infoButton, .closeButton, .editButton {
	display: inline-block;
	position: relative;
	text-align: center;
	height: 30px;
	width: 30px;
	margin: 0 0 0 10px;
	vertical-align: middle !important;
	background: @grayLighter;
	.img-circle;
	.icn;

	font-size: 20px;
	color: @white;

	cursor: pointer;

	&.inCopyText {
		margin: -4px 0 0 10px;
	}
}

.note {
	.infoButton, .closeButton, .editButton {
		background: @onNoteColor50;
		color: @noteColor;
	}
}

.infoButton {
	&:before {
		content: "\e600";
		top: 4px;
	}
}

.closeButton {
	// background: @orange;
	&:before {
		// color: @red;
		content: "\e60a";
		top: 5px;
	}
}

.editButton {
	&:before {
		content: "\e61e";
		top: 6px;
	}
}

.price {
	&:after {
		content: " €";
	}
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	color: @grayLighter;
	cursor: pointer;
	&:before {
		content: "\e60a";
		font-family: "Homicons";
		font-size: 20px;
	}
	.transition(color .1s linear);
	
	&:active {
		color: @red !important;
	}
}

.note {

	// Hints on Notes

	&.hint {
		padding: 20px @bodyPadding 13px;
		font-size: 24px;
		.icn {
			font-size: 20px;
		}
	}

	// Buttons on Notes

	.infoButton, .closeButton  {
		background: @onNoteColor50;
		color: @noteColor;
	}

	// Close on Note

	.close {
		color: @onNoteColor50;
	}
}

.highlighted, .announcement {
	color: @greenLight;
}

.warning {
	color: @orange;
}

.danger {
	color: @red;
}

.smallHint {
	font-size: 13px;
	.superscript {
		font-size: 9px !important;
	}
}

.tapToClose {
	&:before {
		content: "Tippen";
	}
}

// Link-Buttons

.button {
	padding: 10px 10px 8px;
	.border-radius(3px);
	border: 2px solid @onNoteColor50;
	display: inline-block;
	cursor: pointer;
	.border-box;
}

.dark .button {
	color: @white;
	border-color: rgba(255,255,255,0.5);
}


.iCompass {
	&.loading {
		.animation(compassAnimation 1.5s linear infinite);
	}
}

.keyframes(compassAnimation, {
	.rotate(0deg);
},
{
  .rotate(360deg);
});

// Image & Page Loader

@gmb-loader-size: 			60px;
@gmb-loader-small-size: 30px;

@gmb-loader-color: 	@greenLighter30;

.imageLoader, #pageLoader, .buttonLoader {
  font-size: 0;
  .opacity(0);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -@gmb-loader-size/2 0 0 -@gmb-loader-size/2;
  height: @gmb-loader-size;
  width: @gmb-loader-size;
  z-index: 10;

  .transition(opacity .1s linear);

  div {
    display: block;
    background: @gmb-loader-color;
    width: @gmb-loader-size/4;
    height: @gmb-loader-size/4;
    border-radius: @gmb-loader-size/4;
    position: absolute;
    .animation(gmb-bounce 1.75s infinite);
    top: 50%;
    margin-top: -@gmb-loader-size/8;
      
    &:nth-child(2) {
      .animation-delay(0.25s);
      left: 50%;
      margin-left: -@gmb-loader-size/8;
    }
    &:nth-child(3) {
      .animation-delay(0.5s);
      right: 0;
    }
  }
}

.buttonLoader {

  margin: -@gmb-loader-small-size/2 0 0 -@gmb-loader-small-size/2;
  height: @gmb-loader-small-size;
  width: @gmb-loader-small-size;

  .transition(opacity .1s linear);

  div {
      display: block;
      background: rgba(255,255,255,0.5);
      width: @gmb-loader-small-size/4;
      height: @gmb-loader-small-size/4;
      border-radius: @gmb-loader-small-size/4;
      position: absolute;
      .animation(gmb-bounce-small 1.75s infinite);
      top: 50%;
      margin-top: -@gmb-loader-small-size/8;
    
      &:nth-child(2) {
        margin-left: -@gmb-loader-small-size/8;
      }
  }
}


@-webkit-keyframes gmb-bounce {
  10% {
    .translate(0, @gmb-loader-size/4, 0);
    .animation-timing-function(cubic-bezier(.5, 0, .5, 1));
    height: @gmb-loader-size/4;
	}
	14% {
    height: @gmb-loader-size*3/4;
	}
	15% {
    height: @gmb-loader-size/4;
    .translate(0, -@gmb-loader-size/2, 0);
    .animation-timing-function(cubic-bezier(0.8, 0, .8, 1));
	}
	35% {
    .translate(0, 0, 0);
	}
}

@-moz-keyframes gmb-bounce {
  10% {
    .translate(0, @gmb-loader-size/4, 0);
    .animation-timing-function(cubic-bezier(.5, 0, .5, 1));
    height: @gmb-loader-size/4;
	}
	14% {
    height: @gmb-loader-size*3/4;
	}
	15% {
    height: @gmb-loader-size/4;
    .translate(0, -@gmb-loader-size/2, 0);
    .animation-timing-function(cubic-bezier(0.8, 0, .8, 1));
	}
	35% {
    .translate(0, 0, 0);
	}
}

@-o-keyframes gmb-bounce {
  10% {
    .translate(0, @gmb-loader-size/4, 0);
    .animation-timing-function(cubic-bezier(.5, 0, .5, 1));
    height: @gmb-loader-size/4;
	}
	14% {
    height: @gmb-loader-size*3/4;
	}
	15% {
    height: @gmb-loader-size/4;
    .translate(0, -@gmb-loader-size/2, 0);
    .animation-timing-function(cubic-bezier(0.8, 0, .8, 1));
	}
	35% {
    .translate(0, 0, 0);
	}
}

@keyframes gmb-bounce {
  10% {
    .translate(0, @gmb-loader-size/4, 0);
    .animation-timing-function(cubic-bezier(.5, 0, .5, 1));
    height: @gmb-loader-size/4;
	}
	14% {
    height: @gmb-loader-size*3/4;
	}
	15% {
    height: @gmb-loader-size/4;
    .translate(0, -@gmb-loader-size/2, 0);
    .animation-timing-function(cubic-bezier(0.8, 0, .8, 1));
	}
	35% {
    .translate(0, 0, 0);
	}
}

@-webkit-keyframes gmb-bounce-small {
  10% {
    .translate(0, @gmb-loader-small-size/4, 0);
    .animation-timing-function(cubic-bezier(.5, 0, .5, 1));
    height: @gmb-loader-small-size/4;
	}
	14% {
    height: @gmb-loader-small-size*3/4;
	}
	15% {
    height: @gmb-loader-small-size/4;
    .translate(0, -@gmb-loader-small-size/2, 0);
    .animation-timing-function(cubic-bezier(0.8, 0, .8, 1));
	}
	35% {
    .translate(0, 0, 0);
	}
}

@-moz-keyframes gmb-bounce-small {
  10% {
    .translate(0, @gmb-loader-small-size/4, 0);
    .animation-timing-function(cubic-bezier(.5, 0, .5, 1));
    height: @gmb-loader-small-size/4;
	}
	14% {
    height: @gmb-loader-small-size*3/4;
	}
	15% {
    height: @gmb-loader-small-size/4;
    .translate(0, -@gmb-loader-small-size/2, 0);
    .animation-timing-function(cubic-bezier(0.8, 0, .8, 1));
	}
	35% {
    .translate(0, 0, 0);
	}
}

@-o-keyframes gmb-bounce-small {
  10% {
    .translate(0, @gmb-loader-small-size/4, 0);
    .animation-timing-function(cubic-bezier(.5, 0, .5, 1));
    height: @gmb-loader-small-size/4;
	}
	14% {
    height: @gmb-loader-small-size*3/4;
	}
	15% {
    height: @gmb-loader-small-size/4;
    .translate(0, -@gmb-loader-small-size/2, 0);
    .animation-timing-function(cubic-bezier(0.8, 0, .8, 1));
	}
	35% {
    .translate(0, 0, 0);
	}
}

@keyframes gmb-bounce-small {
  10% {
    .translate(0, @gmb-loader-small-size/4, 0);
    .animation-timing-function(cubic-bezier(.5, 0, .5, 1));
    height: @gmb-loader-small-size/4;
	}
	14% {
    height: @gmb-loader-small-size*3/4;
	}
	15% {
    height: @gmb-loader-small-size/4;
    .translate(0, -@gmb-loader-small-size/2, 0);
    .animation-timing-function(cubic-bezier(0.8, 0, .8, 1));
	}
	35% {
    .translate(0, 0, 0);
	}
}
	

#pageLoaderContainer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,.95);
	z-index: 9999;
	.opacity(0);
	display: none;
	.transition(opacity .1s linear);
	
	#pageLoader {
		.opacity(100);
	}
}

.preLoading {
	#pageLoaderContainer {
		display: block;
	}
}
.loading {
	#pageLoaderContainer {
		display: block;
		.opacity(100);
	}
	#page {
		.blur(2px);
		overflow: hidden;
	}
}


// Items used on more than one page --------------------------------------------


// Navigation


#categoriesNavigation, #infoNavigation {
	position: fixed;
	padding-top: 53px;
	.border-box;
	overflow: auto;
	height: 100%;
	.transformTransition(.3s,ease);

	ul {
		li {
			display: block;
			position: relative;
			.border-box;
			color: @white;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			overflow: visible;
			cursor: pointer;

			&.active:before {
				content: " ";
				position: absolute;
				left: -1px;
				.border-radius(1px);
				top: -1px;
				height: 100%;
				width: 5px;
				padding: 1px 0;
				background: @greenLight;
				.box-shadow(0 0 5px 0 rgba(0,0,0,0.5));
			}
		}
	}
}

#storeHome, #homeInfo, #storeInfo {
	.translate(0,0,0);
	.transformTransition(.3s,ease);
	.box-shadow(0 0 5px 0 rgba(0,0,0,0.5));
}

// Next Items

#toNextCategory, #toNextStep, .toNextStep, #skipThisStep {

	background: @darkWhite;
	width: 100%;
	position: relative;
	cursor: pointer;
	display: block;

	p {
		font-size: 13px;
		padding: 15px 15px 0;
		margin: 0;
		color: @grayLight;
	}

	h3 {
		padding-bottom: 10px;
		&:after {
			content: "\e605";
			.icn;
			display: block;
			margin-top: 5px;
			font-size: 16px;
		}
		font-size: 24px;
	}

	&:before {
		.icn;
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -25px;
		font-size: 50px;
		color: @grayLighter;
	}
}

// Wrap .toNextStep for display: table-row

.toNextStepContainer {
	display: table-row;
	.translate(0,0,0);	
	.transformTransition(.3s .2s, ease);
	
	&.hidden {
		display: none;
		.translate(0,100%,0);
	}
	
	&.preload {
		display: table-row !important;
	}
}



#articles {
	display: table-row;
	height: 100%;
}

#articlesContent {

	display: table;
	table-layout: fixed;
	width: 100%;

	.item {
		padding: 30px @bodyPadding;
		border-bottom: 1px solid @darkerWhite;
		position: relative;

		&.active {
			background: @darkWhite;

			&.infoButton, &.closeButton {
				background: darken(@grayLighter, 2%);
				color: @darkWhite;
			}

			&:after {
				content: "\e609";
				position: absolute;
				top: 15px;
				right: 15px;
				font-family: "Homicons";
				color: @greenLight;
				font-size: 24px;
			}
		}
	}

	item, article {
		&:last-child .item {
			border-bottom: none;
		}
	}

	// Columns

	#tableRow {
		display: table-row;
	}
	.col {
		// width: 3000px;
		display: table-cell;
		border-left: 1px solid @darkerWhite;
		vertical-align: top;

		&:first-child {
			border-left: none;
		}
	}



	// -------

	h2 {
		color: @greenDark;
		margin-top: 10px;
	}

	.itemDescription {
		// height: auto;
		// .transition(e('height .3s ease, padding .3s ease'));
		// overflow: hidden;
		&.hidden {
			display: none;
			// height: 0;
			// padding: 0 15px;
		}
	}
}

.itemImage, .ingredientImage {
	position: relative;

	img {
		position: relative;
		z-index: 15;

		.transition(opacity .2s .2s linear);
	}

	&.loading {
		img {
			.opacity(0);

		}
		.imageLoader {
			.opacity(100);
		}
	}
}

.itemImage {
	height: 160px;
}

.buyingOption {

	margin-top: 15px;

	> div {
		display: inline-block;
		padding: 3px;
		border-radius: 3px;
		border: 1px solid @noteBorderColor;
		.box-shadow(0 1px 3px 0 @globalShadowColor15);

		cursor: pointer;

		&:last-child {
			margin-left: 5px;
		}

		&:first-child {
			margin-left: 0;
		}

		.pricetag {
			border-radius: 2px;
			border: 3px dashed @onNoteColor50;
			padding: 2px 7px;
			.transition(margin .2s ease);

			h3 {

				// SIZE ADJUST

				font-size: 19px;

				color: @greenDark;
				display: inline-block;
				line-height: 1;
				text-align: left;

				vertical-align: top;

			}

			// .sizeTag, .price {
			//   display: block;
			// }

			.sizeTag {
				font-size: 16px;
				color: @onNoteColor;

				// SIZE ADJUST

				font-size: 13px;
			}
		}

		.iClose {
			color: @grayLight;
			position: absolute;
			top: 50%;
			margin-top: -15px;
			right: 10px;
			.opacity(0);
			.transition(opacity .1s linear);
		}

		&.buyed {
			position: relative;
			background: @darkWhite;
			.box-shadow(none);
			border: none;
			.pricetag {
				display: inline-block;
				vertical-align: middle;
				border-color: rgba(0,0,0,0);
				margin-right: 40px;

				&:before, h3 {
					color: @grayDark !important;
				}
			}
			.iClose {
				.opacity(100);
			}
		}
	}

	.buy {
		.pricetag {
			&:before {
				content: "\e613";
				font-family: "Homicons";
				display: inline-block;
				color: @onNoteColor50;
				font-size: 20px;
				margin-top: 6px;
			}
			h3 {
				margin: 8px 0 0 3px;
			}
		}
	}

	.buy6inch, .buyFootlong {
		.pricetag:before {
			content: "\e614";
			font-family: "Homicons";
			display: inline-block;
			color: @onNoteColor50;
			font-size: 30px;
			margin-top: 7px;
		}
		h3 {
			margin: 6px 0 0;
		}
	}
	.buyFootlong {
		.pricetag:before {
			content: "\e615";
		}
	}

	.buyBeverage {
		.pricetag:before {
			display: inline-block;
			color: @onNoteColor50;
			content: "\e613";
			font-family: "Homicons";
			font-size: 30px;
			margin: 7px 5px 0 0;
		}

		h3 {
			margin: 7px 0 0;
		}

		.deposit {
			display: inline-block;
			color: @onNoteColor50;
			font-size: 13px;
			margin: 5px 0 0 5px;
			width: 40px;
			height: 30px;
			padding: 1px 0 1px 5px;
			vertical-align: top;
			border-left: 1px solid @onNoteColor30;
		}
	}
}

// Delivery Areas

.storeDeliveryArea {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	.border-box;
	padding: 0;
	text-align: left;

	.postal {
		display: table-cell;
		width: 40px;
		padding-left: 10px;
		font-size: 13px;
		visibility: hidden;
	}
}

.storeDeliveryAreaDescription {
	display: table-cell;
	position: relative;
	padding: 10px 30px 8px 5px;
	cursor: pointer;

	h3 {
		font-size: 18px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	p {
		font-size: 13px;
		padding: 5px 0 0 !important;
		margin: 0;
	}
	&:after {
		content: "\e604";
		font-family: "Homicons";
		position: absolute;
		right: 0;
		top: 50%;
		padding: 7px 6px 7px 8px;
		font-size: 16px;
		margin-top: -17px;
		.img-circle;
		border: 2px solid rgba(0,0,0,0);
	}
}

.storeMultipleDeliveryAreas {

	.storeDeliveryArea {
		border-bottom: none !important;

		&:last-child {
			.storeDeliveryAreaDescription {
				border-bottom: none !important;
			}
		}

		&:first-child {
			.postal {
				visibility: visible;
			}
		}
	}
}

#storeDeliveryAreas, #infoDeliveryAreas {

	> .storeDeliveryArea, .storeMultipleDeliveryAreas {
		&:last-child {
			border-bottom: none !important;
		}
	}
}


// Opening Hours

#storeOpeningHours, #infoOpeningHours {
	text-align: left;
}

.openingHoursContainer {
	display: inline-block;
	width: 50%;
	vertical-align:top;
	.border-box;

	&:first-child, &:nth-child(2) {
		border-top: none !important;
	}
	&:last-child {
		display: none;
	}
}

.openingHoursContent {
	position: relative;
	display: table;
	table-layout: fixed;
	.border-box;
	padding: 0;
	text-align: left;
	width: 100%;

	.openingDay {
		display: table-cell;
		width: 22px;
		padding-left: 10px;
		font-size: 13px;
	}

	.openingHours {
		display: table-cell;
		position: relative;
		padding: 10px 10px 8px 5px;

		h3 {
			font-size: 18px;
			overflow: hidden;
			width: 100%;
			line-height: 1.3;
		}
	}
}


// Inputs ----------------------------------------------------------------------

// Big Input

input[type="text"], input[type="tel"], textarea {
	background: none;
	border: 1px solid @onNoteColor50;
	padding: 10px 10px 8px;
	.border-radius(3px);
	color: @onNoteColor;
	outline: none;
	.box-shadow(none);
	-webkit-appearance: none;
}


.bigInput {
	height: 90px;
	width: 100%;
	padding: 25px 20px 20px;

	font-size: 40px;

	border: 3px dashed @onNoteColor50;
	.border-radius(3px);
	.border-box;
}

textarea {
	position: relative;
	width: 100%;
	.border-box;
	line-height: 1.5;
	resize: none;
}

#storeClosed {
  padding-bottom: 0;
  #storeClosedDescription {
    border-top: 1px solid @onNoteColor30;
    background: @darkNote;
    margin: 0;
    padding: 20px;
    color: @onDarkNoteColor;
  }
}

// 404 -------------------------------------------------------------------------

#notAvailable {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.28em;
	}
	.i404 {
		font-size: 100px;
		color:rgba(0,0,0,0.3);
		// text-shadow: 0 1px 1px rgba(255,255,255,0.2);
	}
}

#notAvailableContent {
	display: inline-block;
	vertical-align: middle;

	p {
		margin: 20px 0 20px;
	}
}
