// Feedback on Tap & Click-Events


// Touch Feedback---------------------------------------------------------------
// -----------------------------------------------------------------------------


// Common ----------------------------------------------------------------------

.button {
  &:active {
    background: @onNoteColor;
    color: @noteColor;
  }
}

.infoButton, .closeButton, .editButton {
  &:active {
    background: darken(@grayLighter, 10%);
  }
}

.close {
  &:active {
    color: darken(@grayLighter, 10%);
  }
}

// On Note

.note {

  .infoButton, .closeButton, .editButton {
    &:active {
      background: @onNoteColor;
    }
  }
  .close {
    &:active {
      color: @onNoteColor;
    }
  }
}

// On Dark

.dark {
  .button {
    &:active {
      background: @white;
      color: @darkColor;
    }
  }
}


// Header ----------------------------------------------------------------------

#headerContent div {
  &#toTheInfo, &#getBack, &#toggleNav {
    &:active {
      color: darken(@onHeaderColor,10%);
    }
  }

  &#toTheTray {
    &:active {
      color: darken(@onHeaderColor,10%);
      background: darken(@headerTrayBackground, 10%);
    }
  }
}

// home.home -------------------------------------------------------------------

// home.info -------------------------------------------------------------------

.deliveringRestaurant {
  &:active {
    color: rgba(255,255,255,0.7);
  }
}

// store.home ------------------------------------------------------------------

// Categories Navigation

#categoriesNavigation ul li {
  &:active {
    background: rgba(0,0,0,0.3);
  }
}


// Item Buy-Links

.buyingOption > div {
  &:active {

    // background: @darkNote;

    .pricetag {
      // .transition(border-color .05s linear); --> Move to base template
      border-color: @onNoteColor70;

      &:before {
        // .transition(color .05s linear); --> Move to base template
        color: @onNoteColor;
      }
    }
  }
}




// store.selection -------------------------------------------------------------

// store.tray ------------------------------------------------------------------

// store.checkout --------------------------------------------------------------
