// ----------------------------------------------------  HOMICONS ----------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------


// FONT-FACE

@font-face {
	font-family: 'Homicons';
	src:url('../fonts/homicons.eot?2zfjmd');
	src:url('../fonts/homicons.eot?#iefix2zfjmd') format('embedded-opentype'),
		url('../fonts/homicons.woff?2zfjmd') format('woff'),
		url('../fonts/homicons.ttf?2zfjmd') format('truetype'),
		url('../fonts/homicons.svg?2zfjmd#homicons') format('svg');
	font-weight: normal;
	font-style: normal;
}


// GLOBAL STYLES

.icn {
  position: relative;
  display: inline-block;
  font-family: 'Homicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  line-height: 1;

  vertical-align: top;
  font-size: 30px;

  &:before, &:after {
    position: relative;
  }

  // Better Font Rendering

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.inSmallText {
    font-size: 16px;

    &.before {
      margin-right: 5px;
    }
    &.after {
      margin-left: 5px;
    }
  }

}

// .note {
//   .icn {
//     color: @onNoteColor;
//   }
// }

a.icn {
  text-decoration: none;
  color: inherit;
}




// ICONS



.iInfo:before						{content: "\e600";}
.iStore:before		 			{content: "\e601";}
.iWrench:before					{content: "\e602";}
.iPrev:before						{content: "\e603";}
.iNext:before						{content: "\e604";}
.iDown:before						{content: "\e605";}
.iUp:before							{content: "\e606";}
.iCompass:before	 			{content: "\e607";}
.iNav:before 						{content: "\e608";}
.iCheck:before					 {content: "\e609";}
.iClose:before					 {content: "\e60a";}
.iArrowNext		 				 {content: "\e60b";}

// Categories ------------------------------

.iPromotion:before 			{content: "\e60c";}
.iSub:before 						{content: "\e60d";}
.iWrap:before						{content: "\e60e";}
.iSalad:before					 {content: "\e60f";} // REPLACE
.iSnacks:before 	 			{content: "\e610";}
.iBeverage:before				{content: "\e611";}
.iCatering:before			  {content: "\e612";} // REPLACE



.iPriceTag:before				{content: "\e613";}
.i6inchPrice:before			{content: "\e614";}
.iFootlongPrice:before	 {content: "\e615";}

.iTray:before						{content: "\e616";}

// Ingredients -----------------------------

.iBread:before 					{content: "\e617";}
.iCheese:before 			 	{content: "\e618";}
.iVegetables:before 		 {content: "\e619";}
.iExtras:before 				 {content: "\e61a";}
.iSauce:before 					{content: "\e61b";}

.iMenuUpgrade:before	 	{content: "\e61c";}

.iArrowBack:before			 {content: "\e61d"}

.iEdit:before			 		 {content: "\e61e"}
.iRemove:before			 	 {content: "\e61f"}

.iDecrease:before				{content: "\e620"}
.iIncrease:before				{content: "\e621"}
.iAdd:before						 {content: "\e622"}
