// ----------------------------------------------------  HOMICONS ----------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------

// GENERAL


/* global styles */
.icn, .iBtn, .menuComponentBlock {
  display: inline-block;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background: none 0 0 no-repeat;
  
  &:before, &:after {
    position: relative;
    top: -5px;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}


.icn, .iBtn, .menuComponentBlock {
  font-family: "Homicons" !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit;
  font-size: 30px;
}

.note, .smallNote {
  .icn {
    color: @onNoteColor;
  }
}


.iBtn {
  cursor: pointer;
}

a.iBtn, a.iBtn:hover {
  text-decoration: none;
  color: inherit;
}

.note, .smallNote {
  .iBtn, a.iBtn, .menuComponentBlock {
    color: @onNoteColor50;
    .transition(color .1s linear);
    &:hover, &:active {
      color: @onNoteColor;
    }
  }
}

.menuComponentBlock {
  &:before, &:after {
    font-size: 300px;
    color: @white;
  }
  &:after {
    color: @grayLighter;
  }
}

// ----------------------------------------------------  Icons -------------------------------------------------------


// Articles ---------------------------
// ------------------------------------

.iSub:before {
  content: "\e000";
}

.iWrap:before {
  content: "\e001";
}

.iSalad:before {
  content: "\e002";
}

.iSnacks:before {
  content: "\e003";
}

.iBeverage:before {
  content: "\e004";
}

.iMuffin:before {
  content: "\e005";
}

.iCookie:before {
  content: "\e006";
}

.iChips:before {
  content: "\e007";
}

.iMenuBundle:before {
  content: "\e008";
}

.iPromotion:before {
  content: "\e009";
}

.iCatering:before {
  content: "\e00a";
}

.iMiniSub:before {
  content: "\e00b";
}

.iToy:before {
  content: "\e00c";
}

// Ingredients ------------------------
// ------------------------------------

.iBread:before {
  content: "\e014";
}

.iCheese:before {
  content: "\e015";
}

.iVegetables:before {
  content: "\e016";
}

.iExtras:before {
  content: "\e019";
}

.iSauce:before {
  content: "\e017";
}

.iMenuUpgrade:before {
  content: "\e018";
}


// Placeholder ------------------------
// ------------------------------------

.pfootlong:before { content: "\e01e"; }

.pSub {
  &:before { content: "\e01f"; }
  &:after { content: "\e020"; }
}

.pWrap {
  &:before { content: "\e021"; }
  &:after { content: "\e022"; }
}

.pSalad {
  &:before { content: "\e023"; }
  &:after { content: "\e024"; }
}

.pCookie {
  &:before { content: "\e025"; }
  &:after { content: "\e026"; }
}

.pMuffin {
  &:before { content: "\e027"; }
  &:after { content: "\e028"; }
}

.pSnacks {
  &:before { content: "\e032"; }
  &:after { content: "\e033"; }
}

.pCookieChips {
  &:before { content: "\e034"; }
  &:after { content: "\e035"; }
}

.pSalad {
  &:before { content: "\e023"; }
  &:after { content: "\e024"; }
}

.pBeverage {
  &:before { content: "\e02c"; }
  &:after { content: "\e02d"; }
}

.pBigCup {
  &:before { content: "\e02e"; }
  &:after { content: "\e02f"; }
}

.pSmallCup {
  &:before { content: "\e030"; }
  &:after { content: "\e031"; }
}

// Space for 5 placeholder-pairs



// Arrows -----------------------------
// ------------------------------------

.iPrev, .bPrev {
  &:before { content: "\e03c"; }
}

.iNext, .bNext {
  &:before { content: "\e03d"; }
}

.iBack, .bBack {
  &:before { content: "\e03e"; }
}

.iNextItem, .bNextItem {
  &:before { content: "\e03f"; }
}

.iArrowUp, .bArrowUp {
  &:before { content: "\e040"; }
}

.iArrowDown, .bArrowDown {
  &:before { content: "\e041"; }
}

// Notice Arrows

.iNoticeArrowDl {
  &:after { content: "\e042"; }
}

.iNoticeArrowDr {
  &:after { content: "\e043"; }
}

.iNoticeArrowUl {
  &:after { content: "\e044"; }
}

.iNoticeArrowUr {
  &:after { content: "\e045"; }
}

.iNoticeArrowRt {
  &:after { content: "\e046"; }
}

.iNoticeArrowRb {
  &:after { content: "\e047"; }
}

.iNoticeArrowLt {
  &:after { content: "\e048"; }
}

.iNoticeArrowLb {
  &:after { content: "\e049"; }
}

// Slim Arrows

.iSlimArrowDown {
  &:before { content: "\e04a"; }
}



// Common Icons -----------------------
// ------------------------------------

.iCircle:before {
  // content: "\e053";
  content: "\e053";
}


// Payment

.iCash, .bCash {
  &:before { content: "\e057"; }
}

.iEC, .bEC {
  &:before { content: "\e058"; }
}

.iPaypal, .bPaypal {
  &:before { content: "\e059"; }
}


// General

.iSettings, .bSettings,
#bStoreConfig {
  &:before { content: "\e05a"; }
}

.iHeart, .bHeart {
  &:before { content: "\e05b"; }
}

.iStar, .bStar {
  &:before { content: "\e05c"; }
}

.iAdd, .bAdd {
  &:before { content: "\e05d"; }
}

.iRemove, .bRemove {
  &:before { content: "\e05e"; }
}

.iClose, .bClose {
  &:before { content: "\e05f"; }
}

.iLocked, .bLocked {
  &:before { content: "\e060"; }
}

.iUnlocked, .bUnlocked {
  &:before { content: "\e061"; }
}

.iTrash, .bTrash {
  &:before { content: "\e062"; }
}

.iCart, .bCart, #iCart {
  &:before { content: "\e063"; }
  &.filled {
    &:before { content: "\e064"; }
  }
}

.iTray, .bTray, #iTray {
  &:before { content: "\e09d"; }
  &.filled {
    &:before { content: "\e09d"; }
  }
}

.iSearch, .bSearch {
  &:before { content: "\e065"; }
}

.iUser, .bUser {
  &:before { content: "\e066"; }
}

.iFlag, .bFlag {
  &:before { content: "\e067"; }
}

.iEdit, .bEdit {
  &:before { content: "\e069"; }
}

.iPhone, .bPhone {
  &:before { content: "\e06a"; }
}

.iMail, .bMail, #bMail {
  &:before { content: "\e06b"; }
}

.iStoreInfo, .bStoreInfo {
  &:before { content: "\e06c"; }
}

.iDocument, .bDocument {
  &:before { content: "\e06d"; }
}

.iPrint, .bPrint {
  &:before { content: "\e06e"; }
}

.iBell, .bBell {
  &:before { content: "\e06f"; }
}

.iTurnover, .bTurnover {
  &:after { content: "\e070"; } 
}

.iBolt, .bBolt {
  &:before { content: "\e071"; }
}

.iLightbulb, .bLightbulb {
  &:before { content: "\e072"; }
}

.iWarning, .bWarning {
  &:before { content: "\e073"; }
}

.iCheck, .bCheck {
  &:before { content: "\e074"; }
}

.iReset, .bReset {
  &:before { content: "\e075"; }
}

.iSignin, .bSignin {
  &:before { content: "\e076"; }
}

#bSignout {
  &:before { content: "\e077"; }
}

.iFood, .bFood {
  &:before { content: "\e07b"; }
}

#bClientConfig {
  &:before { content: "\e07c"; }
}

#bStoreAssortment {
  &:before { content: "\e07d"; }
}

#bClientDashboard {
  &:before { content: "\e07e"; }
}

.iEye, .bEye {
  &:before { content: "\e07f"; }
  &.open:before { content: "\e080"; }
}

.iKey, .bKey {
  &:before { content: "\e081"; }
}

.iCredit, .bCredit {
  &:before { content: "\e083"; }
}

.iRefresh, .bRefresh {
  &:before { content: "\e084"; }
}

.iAGB, .bAGB, #iAGB {
  &:before { content: "\e085"; }
}

.iHome, .bHome, #bStoreDashboard {
  &:before { content: "\e086"; }
}

.iCompass, .bCompass {
  &:before { content: "\e087"; }
}

.iSubcard, .bSubcard {
  &:before { content: "\e088"; }
}

// e089 --> old assortment icon

.iEdenred {
  &:before { content: "\e08a"; }
}

.iSodexo {
  &:before { content: "\e08b"; }
}

.iNutritionfacts, .bNutritionfacts {
  &:before { content: "\e08c"; }
}

.iAdditives, .bAdditives {
  &:before { content: "\e08d"; }
}

.iDot, .bDot {
  &:before { content: "\e08e"; }
}

.iFirefox, .bFirefox {
  &:before { content: "\e08f"; }
}

.iChrome, .bChrome {
  &:before { content: "\e090"; }
}

.iExplorer, .bExplorer {
  &:before { content: "\e091"; }
}

.iInvoiceCoin, .bInvoiceCoin {
  &:before { content: "\e092"; }
}

.iInvoiceList, .bInvoiceList {
  &:before { content: "\e093"; }
}

.iFacebook, .bFacebook {
  &:before { content: "\e096"; }
}

.iFax, .bFax {
  &:before { content: "\e097"; }
}


// To the Info


#toTheInfo {
  &:before { content: "\e068"; }
}


// ----------------------------------------------------  Complex Icons -------------------------------------------------------


.iBtn {
  &.enclosed {
    width: 17px;
    margin: 0 4px;
    height: 17px;
    .box-shadow(0 0 5px 0 rgba(0,0,0,0.2));
    font-size: 10px;
    text-align: center;
    .img-circle;
    &:before {
      top: 0;
    }

    &.bAdd {
      border: 1px solid darken(#57a827, 15%);
      #gradient > .vertical(#57a827,#458a1c);
      color: #2c630a;
      text-shadow: 0 1px 0 rgba(255,255,255,0.6), 0 -1px 0 darken(#2c630a, 15%);
    }

    &.bRemove {
      border: 1px solid darken(#b96a01, 5%);
      #gradient > .vertical(#f8a900,#b96a01);
      color: #7c4800;
      text-shadow: 0 1px 0 rgba(255,255,255,0.6), 0 -1px 0 darken(#7c4800, 15%);
    }
  }
}

#storeOpen {
  cursor: pointer;
  position: absolute;
  top: -7px;
  left: 0;
  width: 61px;
  height: 61px;
  background: @iconSpriteSrc;
  background-position: -61px 0;
  &.isOpen {
    background-position: 0 0;
  }
}

// ----------------------------------------------------  Image Icons -------------------------------------------------------

.imgIcn {
  display: inline-block;
  height: 46px;
  width: 56px;
  .ie7-restore-right-whitespace();
  line-height: 35px;
  vertical-align: middle;
  position: relative;
  //top: -15px;
  margin-right: 10px;
  background-size: 90%;
  background-position: center;
  &.storeIcon {
    background: @storeIconSrc;
  }
  &.clientIcon {
    background: @storeIconSrc;
  }
}

