// ----------------------------------------------------  HOMICONS ----------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------

// GENERAL


/* global styles */
.icn, .iBtn {
  display: inline-block;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: top;
  background: none 0 0 no-repeat;

  &:before, &:after {
    position: relative;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}


.icn, .iBtn {
  font-family: "Homicons" !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit;
  font-size: 30px;
}

.note {
  .icn, .iBtn {
    color: @onNoteColor;
  }
}


.iBtn {
  cursor: pointer;
}

a.iBtn {
  text-decoration: none;
  color: inherit;
}
