// Classes: .noMobile / .noTablet

// Common Styles
// -----------------------------------------------------------------------------

// Larger-Than-Mobile

@media only screen and (min-width : 450px) {

  body {
    font-size: @tabletBaseFontSize;
  }

  .icn {
    &.inSmallText {
      font-size: 24px;

      &.before {
        margin-right: 10px;
      }
      &.after {
        margin-left: 10px;
      }
    }
  }
}

// header
// -----------------------------------------------------------------------------

@media only screen and (min-width : 450px) {
  #header {
    > div {
      padding: 10px 0 0 15px;

      &#toTheInfo {
        font-size: 26px;
        padding-left: 9px;
        top: 1px;
      }
    }
    #ownLogo {
      font-size: 40px;
    }
  }
}


// home.home
// -----------------------------------------------------------------------------


// Larger-Than-Mobile

@media only screen and (min-width : 450px) {
  #introducingText {
    padding:  30px 10% 10px;
  }

  #postalInputContainer {
    font-size: @tabletH1FontSize;
    padding: 25px 20px 18px;
    .iCompass {
      font-size: 45px;
    }
    &.postalOnly, &.focus {
      #postalInput {
        width: 170px;
      }
    }

    span {
      font-size: @tabletH4FontSize;
    }
  }

  #postalInput {
    width: 300px;
    height: 60px;
  }

  #selectableDeliveryAreas .deliveryArea {
    font-size: @tabletH3FontSize;

    span {
      font-size: @tabletSmallFontSize;
    }
  }

  #chooseStore header {
    width: 380px;
    margin: 25px auto 20px;
  }

  #selectableStores .store {
    font-size: @tabletH3FontSize;
    padding-left: 95px;
    .iStore, .iNext {
      top: 25px;
      font-size: 56px;
    }

    span {
      font-size: @tabletSmallFontSize;
      &:before {
        width: 14px;
        height: 14px;
      }
    }
  }


  // STEPS

  @stepTranslation450:  -360px;

  #introduction:after {
    margin-bottom: @stepTranslation450;
  }

  .step3 {
    #introduction {
      .translate(0,@stepTranslation450,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }

  .step4 {
    #introduction {
      .translate(0,@stepTranslation450,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 470px) {


  #postalInputContainer {
    padding: 25px 40px 18px;
  }


  // STEPS

  @stepTranslation470:  -340px;

  .step3 {
    #introduction {
      .translate(0,@stepTranslation470,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }

  .step4 {
    #introduction {
      .translate(0,@stepTranslation470,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }

}


// -----------------------------------------------------------------------------

@media only screen and (min-width : 625px) {

  // STEPS

  @stepTranslation625:  -300px;

  .step3 {
    #introduction {
      .translate(0,@stepTranslation625,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }

  .step4 {
    #introduction {
      .translate(0,@stepTranslation625,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 650px) {
  #chooseStore header {
    width: 640px;
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 750px) {

  #introducingText {
    padding: 30px 15% 10px;
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 850px) {

  #introducingText {
    padding: 30px 20% 10px;
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 1020px) {

  #introducingText {
    padding: 30px 25% 10px;
  }
}
