// Classes: .noMobile / .noTablet

// Common Styles
// -----------------------------------------------------------------------------

// Larger-Than-Mobile

@media only screen and (min-width : 450px) {

  body {
    font-size: @tabletBaseFontSize;
  }

  .icn {
    &.inSmallText {
      font-size: 24px;

      &.before {
        margin-right: 10px;
      }
      &.after {
        margin-left: 10px;
      }
    }
  }
}

// header
// -----------------------------------------------------------------------------

// header Pagetitle

@media only screen and (min-width : 240px) {
  #header > div#pageTitle { width: 77px; }
}

@media only screen and (min-width : 250px) {
  #header > div#pageTitle { width: 87px; }
}

@media only screen and (min-width : 260px) {
  #header > div#pageTitle { width: 97px; }
}

@media only screen and (min-width : 270px) {
  #header > div#pageTitle { width: 107px; }
}

@media only screen and (min-width : 280px) {
  #header > div#pageTitle { width: 117px; }
}

@media only screen and (min-width : 290px) {
  #header > div#pageTitle { width: 127px; }
}

@media only screen and (min-width : 300px) {
  #header > div#pageTitle { width: 137px; }
}

@media only screen and (min-width : 310px) {
  #header > div#pageTitle { width: 147px; }
}

@media only screen and (min-width : 320px) {
  #header > div#pageTitle { width: 157px; }
}

@media only screen and (min-width : 330px) {
  #header > div#pageTitle { width: 167px; }
}

@media only screen and (min-width : 340px) {
  #header > div#pageTitle { width: 167px; }
}

@media only screen and (min-width : 350px) {
  #header > div#pageTitle { width: 177px; }
}

@media only screen and (min-width : 360px) {
  #header > div#pageTitle { width: 187px; }
}

@media only screen and (min-width : 370px) {
  #header > div#pageTitle { width: 197px; }
}

@media only screen and (min-width : 380px) {
  #header > div#pageTitle { width: 207px; }
}

@media only screen and (min-width : 390px) {
  #header > div#pageTitle { width: 217px; }
}

@media only screen and (min-width : 390px) {
  #header > div#pageTitle { width: 217px; }
}

@media only screen and (min-width : 400px) {
  #header > div#pageTitle { width: 227px; }
}

@media only screen and (min-width : 410px) {
  #header > div#pageTitle { width: 237px; }
}

@media only screen and (min-width : 420px) {
  #header > div#pageTitle { width: 247px; }
}

@media only screen and (min-width : 430px) {
  #header > div#pageTitle { width: 257px; }
}

@media only screen and (min-width : 440px) {
  #header > div#pageTitle { width: 267px; }
}

@media only screen and (min-width : 450px) {
  #header > div#pageTitle { width: 277px; }
}

@media only screen and (min-width : 460px) {
  #header > div#pageTitle { width: 287px; }
}

@media only screen and (min-width : 470px) {
  #header > div#pageTitle { width: 297px; }
}

@media only screen and (min-width : 480px) {
  #header > div#pageTitle { width: 307px; }
}

@media only screen and (min-width : 490px) {
  #header > div#pageTitle { width: 317px; }
}

@media only screen and (min-width : 500px) {
  #header > div#pageTitle { width: 327px; }
}


// header for larger-than-mobile

@media only screen and (min-width : 450px) {
  #header {
    > div {
      padding: 10px 0 0 15px;

      &#toTheInfo {
        font-size: 26px;
        padding-left: 9px;
        top: 1px;
      }
    }
    #ownLogo {
      font-size: 40px;
    }
  }
}


// home.home
// -----------------------------------------------------------------------------


// Larger-Than-Mobile

@media only screen and (min-width : 450px) {
  #introducingText {
    padding:  30px 10% 10px;
  }

  #postalInputContainer {
    font-size: @tabletH1FontSize;
    padding: 25px 20px 18px;
    .iCompass {
      font-size: 45px;
    }
    &.postalOnly, &.focus {
      #postalInput {
        width: 170px;
      }
    }

    span {
      font-size: @tabletH4FontSize;
    }
  }

  #postalInput {
    width: 300px;
    height: 60px;
  }

  #selectableDeliveryAreas .deliveryArea {
    font-size: @tabletH3FontSize;

    span {
      font-size: @tabletSmallFontSize;
    }
  }

  #chooseStore header {
    width: 380px;
    margin: 25px auto 20px;
  }

  #selectableStores .store {
    font-size: @tabletH3FontSize;
    padding-left: 95px;
    .iStore, .iNext {
      top: 25px;
      font-size: 56px;
    }

    span {
      font-size: @tabletSmallFontSize;
      &:before {
        width: 14px;
        height: 14px;
      }
    }
  }


  // STEPS

  @stepTranslation450:  -360px;

  #introduction:after {
    margin-bottom: @stepTranslation450;
  }

  .step3 {
    #introduction {
      .translate(0,@stepTranslation450,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }

  .step4 {
    #introduction {
      .translate(0,@stepTranslation450,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 470px) {


  #postalInputContainer {
    padding: 25px 40px 18px;
  }


  // STEPS

  @stepTranslation470:  -340px;

  .step3 {
    #introduction {
      .translate(0,@stepTranslation470,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }

  .step4 {
    #introduction {
      .translate(0,@stepTranslation470,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }

}


// -----------------------------------------------------------------------------

@media only screen and (min-width : 625px) {

  // STEPS

  @stepTranslation625:  -300px;

  .step3 {
    #introduction {
      .translate(0,@stepTranslation625,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }

  .step4 {
    #introduction {
      .translate(0,@stepTranslation625,0);
      .callToAction {
        margin: 50px 0 50px;
      }
    }
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 650px) {
  #chooseStore header {
    width: 640px;
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 750px) {

  #introducingText {
    padding: 30px 15% 10px;
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 850px) {

  #introducingText {
    padding: 30px 20% 10px;
  }
}

// -----------------------------------------------------------------------------

@media only screen and (min-width : 1020px) {

  #introducingText {
    padding: 30px 25% 10px;
  }
}


// home.home
// -----------------------------------------------------------------------------

@media only screen and (min-width : 450px) {

    #articles {
      .item {
        // width: 290px;
        h2 {
          font-size: 36px;
        }
      }
    }

}
