// Scaffolding Variables

@bodyPadding:		30px;
@headerHeight:		50px;

// Important Body Styles

body {
  -webkit-text-size-adjust:none;
}


// Header Styles

aside#header {
  background: @headerBackground;
  background-size: auto 50px;
  height: @headerHeight;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  left: 5px;
  z-index: 8999;
  .transition(left .3s ease);
  &:before {
    content: "";
    background: @headerLeft;
    background-size: auto 50px;
    width: 30px;
    height: @headerHeight;
    position: absolute;
    left: -15px;
    top: 0;
  }
}

// Backgrounds

.note {
	background: @noteBackground;
	background-size: 400px 300px;
	.positioned;
  overflow: visible;
	padding: @bodyPadding;
  z-index: 100;
  .transition(left .3s ease);
    &:after {
      content: " ";
      height: 7px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -7px;
      background: @noteBottom;
      background-size: auto 7px;
    }

    // UnderHeader - Adding Header-Padding

    &.unHe {
    	padding-top: @bodyPadding + @headerHeight;
    }
}

.content.info {
	background: @darkBackground;
	background-size: 400px 300px;
  .transition(left .3s ease);
}