<div>
  <aside id="header">
    <div id="getBack" ng-click="back()">
      zurück
    </div>
    <div id="pageTitle">
<!--       <img src="images/articles/smallimages/bbqrib.png" alt="" /> -->
      <span>{{ title }}<small> (6inch)</small></span>
    </div>
    <div id="toTheInfo" class="icn iInfo"></div>
    <div id="toTheTray">
      <div class="icn iTray">
        <span id="traySize">5</span>
      </div>
    </div>
  </aside>

  <div id="storeSelection" class="content">
    <section class="note above hint highlighted">
      Wähle deine Zutaten
    </section>
    <div id="skipThisStep" class="iFast">
      <p>Oder einfach nur schnell bestellen?<br>Verlass dich auf unsere Empfehlung.</p>
      <h3>Gleich weiter</h3>
    </div>
    <section id="ingredients">
      <div class="ingredient" ng-class="{selected: ingredientModel.isSelected}" ng-repeat="ingredientModel in ingredientsCollection" ng-click="selectIngredient(ingredientModel)">
        <div class="imageContainer">
          <img ng-src="{{ ingredientModel.largeImage }}" height="110" width="110" alt="" />
        </div>
        <h3>{{ ingredientModel.title }}</h3>
      </div>
    </section>
    <div>
      <div id="toNextStep" class="iExtras">
        <p>Nächster Schritt</p>
        <h3>Extras</h3>
      </div>
    </div>
  </div>
  <aside id="timeline" class="note below">
    <div id="timelineStage">
      <div class="timelineStep icn iBread"></div>
      <div class="timelineStep icn iCheese"></div>
      <div class="timelineStep icn iVegetables"></div>
      <div class="timelineStep icn iExtras"></div>
      <div class="timelineStep icn iSauce"></div>
      <div class="timelineStep icn iMenuUpgrade"></div>
      <!-- immer am Ende -->
      <div class="timelineStep icn iTray"></div>
    </div>
    <div id="magnifier">

    </div>

    <div id="previousTimelineStep" class="unavailable"></div>
    <div id="nextTimelineStep"></div>
  </aside>
</div>
