<div>
  <aside id="header">

    <div id="pageTitle">
      <img src="images/articles/smallimages/bbqrib.png" alt="" /><span>BBQ-Rib<small> (6inch)</small></span>
    </div>
    <div id="toTheInfo" class="icn iInfo"></div>
    <div id="toTheTray">
      <i class="icn iTray">
        <span id="traySize">5</span>
      </i>
    </div>
  </aside>

  <div id="storeSelection" class="content">
    <section class="note above hint highlighted">
      Wähle deine Zutaten
    </section>
    <div id="skipThisStep" class="iFast">
      <p>Oder einfach nur schnell bestellen?<br>Verlass dich auf unsere Empfehlung.</p>
      <h3>Gleich weiter</h3>
    </div>
    <section id="ingredients">

      <!-- Ingredients -->
      <div class="ingredient">
        <div class="imageContainer">
          <img src="images/ingredients/veggiesample.jpg" height="110" width="110" alt="" />
        </div>
        <h3>Tomaten</h3>
      </div><div class="ingredient selected">
      <!-- (Wichtig: Kein Leerzeichen nach </div>) -->
        <div class="imageContainer">
          <img src="images/ingredients/veggiesample.jpg" height="110" width="110" alt="" />
        </div>
        <h3>Eisbergsalat</h3>
      </div><div class="ingredient">
        <div class="imageContainer">
          <img src="images/ingredients/veggiesample.jpg" height="110" width="110" alt="" />
        </div>
        <h3>Salatgurken</h3>
      </div><div class="ingredient">
        <div class="imageContainer">
          <img src="images/ingredients/veggiesample.jpg" height="110" width="110" alt="" />
        </div>
        <h3>Oliven</h3>
      </div><div class="ingredient">
        <div class="imageContainer">
          <img src="images/ingredients/veggiesample.jpg" height="110" width="110" alt="" />
        </div>
        <h3>Jalapeños</h3>
      </div>
      <!-- / Ingredient -->

    </section>
    <a>
      <div id="toNextStep" class="iExtras">
        <p>Nächster Schritt</p>
        <h3>Extras</h3>
      </div>
    </a>
  </div>
  <aside id="timeline" class="note below">
    <div id="timelineStage">
      <div class="timelineStep icn iSub"></div>
      <div class="timelineStep icn iBeverage"></div>
      <div class="timelineStep icn iSnacks"></div>
      <!-- immer am Ende -->
      <div class="timelineStep icn iTray"></div>
    </div>

    <div id="previousTimelineStep" class="unavailable"></div>
    <div id="nextTimelineStep"></div>
  </aside>
</div>
