<div>
    <aside id="header">
        <div id="notification"></div>
        <div id="headerContent">
            <div id="getBack" ng-click="back()">
                <p bindonce bo-text="lastPage.title">Subs</p>
            </div>
            <div ng-if="!setTwoLineHeader" id="pageTitle" class="separate">
                <span>{{ articleModel.title }}<span ng-if="articleModel.info" class="itemInfo"> {{ articleModel.info }}</span></span>
            </div>
            <div ng-if="setTwoLineHeader" id="pageTitle" class="twoLine separate">
                <p>{{menuModel}}</p>
                <h3>{{ articleModel.title }}<span ng-if="articleModel.info" class="itemInfo"> {{ articleModel.info }}</span></h3>
            </div>
<!--
            <div ng-click="navigate(':storeAlias/tablett')" id="toTheTray">
                <div class="icn iTray" bindonce>
                    <span id="traySize" bo-text="numberOfItems"></span>
                </div>
            </div>
            <div ng-click="navigate(':storeAlias/info')" id="toTheInfo" class="icn iInfo"></div>
-->
        </div>

    </aside>

    <div id="storeSelection" class="content">
        <!--         <section class="note above hint highlighted">
            Wähle deine Zutaten
        </section> -->


        <!--<div id="skipThisStep" class="iFast" ng-click="selectIngredient(entity.defaultIngredientModel)">-->
        <!--<p>Oder einfach nur schnell bestellen?-->
        <!--<br>Verlass dich auf unsere Empfehlung.</p>-->
        <!--<h3>Schritt überspringen</h3>-->
        <!--</div>-->

        <section id="ingredients" ng-if="type === 'ingredient'">
            <div class="ingredient" ng-class="{selected: ingredientModel.isSelected}" ng-repeat="ingredientModel in entity.ingredientsCollection" ng-click="selectIngredient(ingredientModel)">
                <div class="imageContainer">
                    <div bindonce class="ingredientPriceContainer">
                        <div ng-if="ingredientModel.price > 0" bo-text="ingredientModel.price | number:2" class="ingredientPrice price"></div>
                    </div>
                    <div lazy-image class="ingredientImage">
                    	 <div class="imageLoader"><div></div><div></div><div></div></div>
                    	 <img ng-src="{{ ingredientModel.largeImage }}" alt="" />
                    </div>
                   
                </div>
                <h3>{{ ingredientModel.title }}</h3>
            </div>
        </section>


        <section id="articles" ng-if="type === 'Article'">
            <div id="articlesContent">
                <div id="tableRow" col-repeat app-items-collection="entity.menuComponentOptionArticlesCollection" app-col="col" watch="true">
                    <article ng-repeat="itemModel in col"></article>
                </div>
            </div>
        </section>

        <section id="upgradeArticles" ng-if="type === 'menuUpgradeArticle'">
            <div id="articlesContent" ng-repeat="option in entity.menuComponentOptionsCollection">
                <div id="tableRow" col-repeat app-items-collection="option.menuComponentOptionArticlesCollection" app-col="col" watch="true">
                    <article ng-repeat="itemModel in col" item-model="itemModel"></article>
                </div>
            </div>
        </section>

        <section id="menuUpgrades" ng-if="type === 'menuUpgrade'">
            <div bindonce ng-repeat="menu in articleModel.menuUpgradesCollection" class="menuUpgrade">
                <div class="menuUpgradePreview">
                    <img lazy-image class="menuUpgradeBase" bo-alt="articleModel.title" bo-src="articleModel.smallImage">
                    <div ng-repeat="upgradeArticle in menu.menuComponentBlocksCollection" class="menuUpgradeComponent icn {{upgradeArticle.menuComponentBlockMediaModel.icon}}"></div>
                </div>


                <h2>Sparmenü</h2>
                <p class="itemDescription" bo-text="menu.description"></p>
                <div ng-click="upgrade(menu)" class="buyingOption">
                    <div class="buy note" ng-class="{buyed: menu.isSelected}">
                        <div class="pricetag">
                            <h3>
															<div bo-text="menu.price | number:2" class="price"></div>
              							</h3>
                        </div>
                        <div class="icn iClose"></div>
                    </div>
                </div>
            </div>
        </section>
				<div class="toNextStepContainer" ng-class="{hidden: toTray || hideNextButton, preload: hideNextButton}" ng-click="next()">
					<div class="toNextStep {{nextStep.icon}}">
            <p>Nächster Schritt</p>
            <h3>{{nextStep.title}}</h3>
        	</div>
				</div>

				<div class="toNextStepContainer" ng-class="{hidden: !toTray || !noUpgrade}" ng-click="goToTray()">
					<div class="toNextStep iTray">
            <p>Oder nur ein {{ articleModel.title }}
                <br/>und gleich weiter</p>
            <h3>auf's Tablett</h3>
        	</div>
				</div>

				<div class="toNextStepContainer" ng-class="{hidden: !toTray || noUpgrade || hideNextButton}" ng-click="goToTray()">
					<div class="toNextStep iTray highlighted">
            <p>Fertig! Letzter Schritt:</p>
            <h3>Auf's Tablett</h3>
        	</div>
				</div>

    </div>

    <aside id="timeline" class="note below">
        <div id="timelineStage">
            <div ng-repeat="article in timelineArticleCollection" class="timelineGroup">
                <!-- Icon for the article -->
                <div ng-if="timelineArticleCollection.length > 1" ng-click="jumpToEntity(article.menuComponentOptionsCollection[0])" ng-class="{active: article.menuComponentOptionsCollection[0] === entity, passed : article.menuComponentOptionsCollection[0].passed}" class="timelineStep article">
                    <div class="icn {{article.menuComponentBlockMediaModel.icon}}"></div>
                </div>

                <!-- Icons for the ingrediants -->
                <div ng-class="{active: ingredient === entity, passed : ingredient.passed}" ng-click="jumpToEntity(ingredient)" ng-repeat="ingredient in article.ingredientCategoriesCollection" class="timelineStep">
                    <div class="icn {{ ingredient.icon }}"></div>
                </div>

                <!-- Icon for menuUpgrades-->
                <div ng-if="article.allowsMenuUpgrades" class="timelineStep menuUpgrade" ng-click="jumpToEntity(article.menuUpgradesCollection)" ng-class="{active: article.menuUpgradesCollection === entity, passed : article.menuUpgradesCollection.passed}">
                    <div class="icn iMenuUpgrade"></div>
                </div>

                <!-- Icons for the upgradeArticles -->
                <div ng-repeat="upgradeArticle in article.menuUpgradeArticles" ng-click="jumpToEntity(upgradeArticle)" ng-class="{active: upgradeArticle === entity, passed : upgradeArticle.passed}" class="timelineStep article">
                    <div class="icn {{ upgradeArticle.menuComponentBlockMediaModel.icon }}">
                    </div>
                </div>

            </div>

            <div class="timelineStep tray">
                <div class="icn iTray"></div>
            </div>

        </div>
    </aside>

</div>
