<!-- Like-Button-Code (Idealerweise direkt nach dem body-tag) -->

<!--   <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=409196579150445&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> -->

<aside id="header">
  <div id="headerContent">
    <div id="ownLogo" class="icn iSub"></div>
    <div id="pageTitle" class="twoLine">
      <p>sub2home-Onlinetheke</p>
      <h3>SUBWAY<span class="superscript">&reg;</span> Memmingen</h3>
    </div>
    <div id="toTheInfo" class="icn iInfo"></div>
  </div>
</aside>

<div id="storeCheckout" class="content note fillPage">

  <section id="checkoutCopyContainer">
    <div id="checkoutCopy">
      <p>Vielen Dank für deine<br>Bestellung, Thiemo!<br>Wir sind in ca.</p>

      <div id="checkoutCounter">
        <h1 id="checkoutHours">01</h1>
        <h1 id="checkoutMinutes">35</h1>
      </div>

      <p>bei dir in der Leipziger-Str. 17.</p>
      <p class="smallHint">Bitte hab Verständnis, dass es von Zeit zu Zeit zu Abweichungen der Lieferzeit kommen kan.</p>
    </div>
  </section>
  <div id="checkoutLogoContainer">
    <div id="checkoutLogo"></div>
  </div>
<!--   <div id="checkoutFacebookLink">
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="100%" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="false"></div>
  </div> -->
</div>
