<aside id="header">
  <div id="ownLogo" class="icn iSub"></div>
  <div id="pageTitle">
    Deine SUBWAY<span class="superscript">&reg;</span>-Onlinetheke
  </div>
  <div id="toTheInfo" class="icn iInfo"></div>
</aside>

<div id="storeCheckout" class="content note fillPage">

  <section id="checkoutCopyContainer">
    <div id="checkoutCopy">
      <p>Vielen Dank für deine<br>Bestellung, Thiemo!<br>Wir sind in ca.</p>

      <div id="checkoutCounter">
        <h1 id="checkoutHours">01</h1>
        <h1 id="checkoutMinutes">35</h1>
      </div>

      <p>bei dir in der Leipziger-Str. 17.</p>
      <p class="smallHint">Bitte hab Verständnis, dass es von Zeit zu Zeit zu Abweichungen der Lieferzeit kommen kan.</p>
    </div>
  </section>
  <div id="checkoutLogoContainer">
    <div id="checkoutLogo">

    </div>
  </div>
</div>
