<!-- Like-Button-Code (Idealerweise direkt nach dem body-tag) -->

<!--   <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=409196579150445&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> -->

<aside id="header">
    <div id="notification"></div>
    <div id="headerContent">
        <div id="ownLogo" class="icn iSub"></div>
        <div id="pageTitle" class="twoLine">
            <p>sub2home-Onlinetheke</p>
            <h3>SUBWAY<span class="superscript">&reg;</span><span bindonce bo-text="storeModel.title"></span></h3>
        </div>
        <div ng-click="navigate(':storeAlias/info')" id="toTheInfo" class="icn iInfo"></div>
    </div>
</aside>


<div id="storeCheckout" class="content note fillPage">

    <section id="checkoutCopyContainer" bindonce>
        <div id="checkoutCopy">
            <div id="checkoutCopyFirstPart">
                <p>Vielen Dank für deine
                    <br>Bestellung, <span bo-text="userInfo.firstName"></span>!</p>
                <p>Wir sind in ca.</p>
            </div>
            <div id="checkoutCounter">
                <h1 id="checkoutHours">{{restTime / 60 | numberFixedLength:2}}</h1>
                <h1 id="checkoutMinutes">{{restTime % 60 | numberFixedLength:2}}</h1>
            </div>

            <p>bei dir in der <span bo-text="userInfo.street"></span>.</p>
            <p class="smallHint">Bitte hab Verständnis, dass es von Zeit zu Zeit zu Abweichungen der
                Lieferzeit kommen kann.</p>
        </div>
    </section>
    <div id="checkoutLogoContainer">
        <div id="checkoutLogo"></div>
    </div>
    <!--   <div id="checkoutFacebookLink">
    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="100%" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="false"></div>
  </div> -->
    <div id="sub2homeRating" class="negativeFeedback">
        <p id="feedbackCallToAction">Warst du zufrieden mit der Onlinetheke? Gib uns dein Feedback zum Bestellprozess.</p>
        <p id="positiveFeedbackAnswer">Danke für dein Feedback. Es hilft uns auf dem Weg zu einer noch besseren Onlinetheke.</p>
        <p id="negativeFeedbackAnswer">Kritisches Feedback ist das beste Feedback. Vielen Dank für deine Ehrlichkeit!</p>
        <div id="ratePos" class="icn iThumbsUp" ng-click="sendRating(true)"></div>
        <div id="rateNeg" class="icn iThumbsDown" ng-click="sendRating(false)"></div>
    </div>
</div>


<div id="overlayContainer" ng-show="showRatingMessageInput">
    <div class="overlay note" id="sub2homeRatingFeedback">
        <header>
          <div class="icn" ng-class="{iThumbsUp: rating, iThumbsDown: !rating}"></div>
            <p>Vielen Dank für deine Bewertung.<span class="smallHint">Am hilfreichsten ist dein Feedback,
                wenn du noch eine kurze Nachricht dazu schreibst.
                <br>Vielen Dank!</span></p>
            <div class="close" ng-click="showRatingMessageInput = false"></div>
        </header>
        <div id="feedbackMessage">
            <textarea class="bigTextarea" name="" id="feedbackMessageInput" placeholder="Was können wir verbessern?" ng-model="ratingMessage" cols="30" rows="4"></textarea>
        </div>
        <div class="sendFeedbackMessage">
            <div ng-click="sendMessage()" class="button">Feedback abschicken</div>
        </div>
    </div>
</div>
