<aside id="header">
    <div id="notification"></div>
    <div id="headerContent">
        <div id="toggleNav" class="icn iNav"></div>
        <div id="pageTitle">
            Infotheke <span bindonce bo-text="storeModel.title"></span>
        </div>
        <div ng-click="navigate('@back')" id="toTheInfo" class="icn iClose atTheInfo"></div>
    </div>
</aside>

<nav id="infoNavigation" class="dark">
    <ul>
        <li>Kontakt</li>
        <li>Öffnungszeiten</li>
        <li>Liefergebiete</li>
        <li>Zahlungsarten</li>
        <!--         <li>So funktionierts</li> -->
        <li class="active">Partner werden</li>
        <li>Office</li>
        <li>Impressum</li>
    </ul>
</nav>

<div id="storeInfo" class="content dark" bindonce>
    <section id="storeContact">
        <header>
            <h2>SUBWAY<span class="superscript">&reg;</span> <span bo-text="storeModel.title"></span></h2>
        </header>
        <div class="column">
            <p>
                <span bo-text="storeModel.addressModel.street"></span>  <span bo-text="storeModel.addressModel.streetNumber"></span>
                <br>
                <span bo-text="storeModel.addressModel.postal"></span>  <span bo-text="storeModel.addressModel.city"></span>
            </p>
        </div><div class="column waysToContact">
            <p><i class="icn iPhone"></i><span bo-text="'0' + storeModel.addressModel.phone"></span>
            </p>
            <a bo-href="'mailto:' + storeModel.addressModel.email"><i class="icn iMail"></i><span bo-text="storeModel.addressModel.email"></span></a>
            <a bo-href="storeModel.facebookUrl"><i class="icn iFacebook"></i>/<span bo-text="storeModel.facebookUrl.replace('https://www.facebook.com/', '')"></span></a>
        </div>
    </section>
    <section id="infoOpeningHours">
        <header>
            <h2>Öffnungszeiten</h2>
        </header>
        <div id="infoOpeningHoursContent">
            <div class="openingHoursContainer" ng-repeat="deliveryTimes in groupedDeliveryTimes">
                <div class="openingHoursContent">
                    <div class="openingDay" bo-text="dayOfWeekStrings[$index]"></div>
                    <div class="openingHours">
                        <h3 ng-repeat="deliveryTime in deliveryTimes"><span bo-text="deliveryTime.startString"></span>-<span bo-text="deliveryTime.endString"></span></h3>
                    </div>
                </div>
            </div><div class="openingHoursContainer">
            </div><div class="openingHoursContainer">
            </div>
        </div>
    </section>
    <section id="infoDeliveryAreas">
        <header>
            <h2>Liefergebiete</h2>
        </header>
        <div id="infoDeliveryAreasContent">
            <div class="storeMultipleDeliveryAreas" ng-repeat="(postal, deliveryAreaModels) in groupedDeliveryAreas">
                <div class="storeDeliveryArea" ng-click="selectDeliveryArea(deliveryAreaModel)" ng-repeat="deliveryAreaModel in deliveryAreaModels" ng-class="{selected: deliveryAreaModel === selectedDeliveryAreaModel}">
                    <div class="postal" bo-text="deliveryAreaModel.postal"></div>
                    <div class="storeDeliveryAreaDescription">
                        <h3 bo-text="deliveryAreaModel.district || deliveryAreaModel.city"></h3>
                        <p>(in <span bo-text="deliveryAreaModel.minimumDuration"></span> min ab <span bo-text="deliveryAreaModel.minimumValue | number : 2"></span> €)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="infoPaymentMethods">
        <header>
            <h2>Zahlungsarten</h2>
        </header>
        <div class="infoPaymentMethod">
            <h3>Barzahlung</h3>
            <p>
                Einfach den entsprechenden Betrag bereithalten und bequem bei Ankunft an der Tür bezahlen. Bitte beachte, dass wir keine 100, 200 und 500€-Scheine im Lieferdienst annehmen.
            </p>
        </div>
        <div class="infoPaymentMethod">
            <h3>EC-Kartenzahlung</h3>
            <p>
                Bequem bargeldlos an der Haustür bezahlen. Einfach deine EC-Karte und deinen Pin bereithalten. Zur Zahlung benötigen wir die Verbindung zum Mobilfunknetz.
            </p>
        </div>
        <div class="infoPaymentMethod notProvided">
            <h3>Kreditkartenzahlung</h3>
            <p>
                Ob EC- oder Kreditkarte: Wir haben ein Kartenlesegerät dabei. Halte einfach deine Kreditkarte und deinen Pin bereit. Zur Zahlung benötigen wir die Verbindung zum Mobilfunknetz.
            </p>
        </div>
    </section>

    <!--   <section id="howItWorks">
    <header>
      <h2>So funktioniert's</h2>
    </header>
    <div></div>
  </section> -->
    <section id="nutritionInfo">
        <header>
            <h2>Nährwertangaben</h2>
        </header>
        <div>
            <p>
                Alle Infos über Nährwerte, Zusatzstoffe und Allergiehinweise sind hier als PDF verfügbar.
            </p>
            <div id="nutritionIcons">
                <a href="https://d3uu6huyzvecb1.cloudfront.net/documents/static/naehrwerte.pdf" class="nutritionIcon icn iFire"></a>
                <a href="https://d3uu6huyzvecb1.cloudfront.net/documents/static/zusatzstoffe.pdf" class="nutritionIcon icn iIngredients"></a>
                <a href="https://d3uu6huyzvecb1.cloudfront.net/documents/static/allergiehinweise.pdf" class="nutritionIcon icn iAllergy"></a>
            </div>
        </div>
    </section>
    <section id="becomePartner">
        <header>
            <h2>Partner werden</h2>
        </header>
        <div class="column">
            <p>
                Ein professioneller Lieferservice braucht eine professionelle Onlinetheke.
            </p>
            <p>
                Weil unser Bestellablauf bis ins Detail dem an der SUBWAY<span class="superscript">&reg;</span>-Theke gleicht, finden sich sowohl Mitarbeiter als auch Gäste sofort zurecht. Denn nicht nur vor der Theke, sondern auch dahinter bestehen die
                gewohnten SUBWAY<span class="superscript">&reg;</span>-Abläufe.
            </p>
            <p>
                Das ist der Grund, warum wir sub2home auch getrost "SUBWAY<span class="superscript">&reg;</span>-Onlinetheke" nennen können.
            </p>
        </div><div class="column">
            <p>
                Sie sind SUBWAY<span class="superscript">&reg;</span>-Franchisepartner und haben Interesse an der SUBWAY<span class="superscript">&reg;</span>-Onlinetheke? Gerne lassen wir Ihnen unverbindlich Informationen zukommen. Die Anmeldung ist
                kostenlos und in wenigen Schritten getan. Und wenn das Thema Lieferservice neu für Sie ist, greifen wir Ihnen selbstverständlich auch bei der Einrichtung im Store unter die Arme.
            </p>
            <p>
                Unsere Kontaktdaten finden Sie im nächsten Abschnitt.
            </p>
        </div>
    </section>
    <section id="sub2homeContact">
        <header>
            <h1>sub2home
        <span class="subheadline">SUBWAY<span class="superscript">&reg;</span>-Onlinetheke</span>
      </h1>
        </header>
        <div class="column">
            <p>
                c/o SUBWAY<span class="superscript">&reg;</span> Memmingen
                <br>Maximilianstraße 7
                <br>87700 Memmingen
            </p>
        </div><div class="column waysToContact">
            <p><i class="icn iPhone"></i>08331 / 833 84 33</p>
            <p><i class="icn iFax"></i>08331 / 833 84 34</p>
            <a href="mailto:kontakt@sub2home.com"><i class="icn iMail"></i>kontakt@sub2home.com</a>
            <a href="http://facebook.com/sub2home"><i class="icn iFacebook"></i>/sub2home</a>
        </div>
    </section>
    <section id="impressum">
        <header>
            <h1>Impressum
      </h1>
        </header>
        <div id="impressumContent">
            <p>
                Verantwortlich für diese Seiten:
                <br>Sebastian Weigold
                <br>Ust-Nr. DE814879148
                <br>
            </p>
            <p>
                Wir bemühen uns die Inhalte unserer Seite aktuell zu halten. Trotz sorgfältiger Bearbeitung bleibt eine Haftung ausgeschlossen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
            </p>
            <h4>Urheberrecht</h4>
            <p>
                SUBWAY® Pictures Copyright © 2014 Doctor's Associates Inc., SUBWAY® is a registered trademark of Doctor's Associates Inc. Die aufgeführten Logos und Bilder unterliegen dem Urheberrecht der Doctor´s Associates Inc. Der Shopbetreiber ist SUBWAY® Franchisenehmer.
                Die hinterlegten Stores mit Lieferservice nutzen diesen Shop zur Präsentation ihrer SUBWAY® Restaurants eigenverantwortlich.
            </p>
            <p>
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen
                Zustimmung des jeweiligen Autors bzw. Erstellers.
            </p>
            <h4>Haftung für Links</h4>
            <p>
                Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Für die Inhalte und die Richtigkeit
                der Informationen verlinkter Websites fremder Informationsanbieter wird keine Gewähr übernommen. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße OHNE BEANSTANDUNG überprüft. Bei bekannt werden von
                Rechtsverletzungen werden wir derartige Links umgehend entfernen.
            </p>
            <h4>Haftung für Inhalte</h4>
            <p>
                Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen. Bei bekannt werden von Rechtsverletzungen, werden wir diese Inhalte umgehend entfernen. Eine diesbezügliche
                Haftung übernehmen wir erst ab dem Zeitpunkt der Kenntnis einer möglichen Rechtsverletzung.
            </p>
            <h4>Datenschutz</h4>
            <p>
                Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. Eine Vertraulichkeit im Hinblick auf
                die Datenschutzbestimmungen wird nur unter der vorstehenden Einschränkung gewährleistet. Insbesondere sollen alle Mitteilungen von personenbezogenen Daten über das Internet nur erfolgen, soweit nicht Rechte Dritter berührt werden. Es sei
                denn der Dritte hat in Kenntnis der vorstehenden Sicherheitslücken ebenfalls seine Zustimmung erklärt. Eine Haftung des Seitenbetreibers wird für die durch solche Sicherheitslücken entstehenden Schäden oder Unterlassungsansprüche ausgeschlossen.
            </p>
            <p>
                Der Nutzung von allen veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung wird widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung
                von Werbeinformationen, etwa durch Spam-Mails, vor.
            </p>
            <p>
                Quelle: S&K Rechtsanwälte www.streifler.de
            </p>
        </div>
    </section>
</div>
