<aside id="header">
    <div id="ownLogo" class="icn iSub"></div>
    <div id="pageTitle">
        Deine SUBWAY<span class="superscript">&reg;</span>-Onlinetheke
    </div>
    <div ng-click="navigate('info')" id="toTheInfo" class="icn iInfo"></div>
</aside>

<div id="homeHome" class="content note fillPage {{ getStepClass() }}">

    <section class="note" id="introduction">
        <p id="introducingText">
            Bei sub2home bestellst du
            <br>genau wie an der Theke in einem SUBWAY<span class="superscript">&reg;</span>-Restaurant. Nur dass du dazu nicht das Haus verlassen musst. Wir kommen zu dir, also:
        </p>
        <p class="callToAction">
            Wohin dürfen wir liefern?
        </p>
        <p>
            <postal-input id="postalInputContainer" app-focused="inputFocused" app-postal="postal" app-district="district"></postal-input>
        </p>
        <p ng-show="selectedDeliveryAreaModel && deliveryAreasCollection.length > 1 && showStores">
            <span id="editDeliveryArea" ng-click="resetDeliveryArea()"><i class="icn iWrench inSmallText before"></i>Liefergebiet bearbeiten</span>
        </p>
    </section>

    <section class="note" ng-show="noStoresFound">
        <header class="callToAction">
            Sorry wir liefern noch nicht nach {{ postal }}. Zieh um!
        </header>
    </section>

    <section class="note" id="chooseDeliveryArea" ng-show="deliveryAreasCollection.length > 1">
        <header class="callToAction">
            Wähle eines der {{ deliveryAreasCollection.length }} Liefergebiete:
        </header>
        <div id="selectableDeliveryAreas">
            <div class="deliveryArea" ng-repeat="deliveryAreaModel in deliveryAreasCollection" ng-click="processDeliveryArea(deliveryAreaModel)">
                {{ deliveryAreaModel.district }}<span>(in {{ deliveryAreaModel.minimumDuration }}min für mind. {{ deliveryAreaModel.minimumValue }}€)</span>
            </div>
        </div>
    </section>

    <section class="note" id="chooseStore" ng-show="storesCollection.length">
        <header class="callToAction">
            Folgendes SUBWAY<span class="superscript">&reg;</span>-Restaurant liefert in dieses Gebiet:
        </header>
        <div id="selectableStores">
            <div class="store" ng-click="selectStore(storeModel)" ng-class="{isDelivering: isDelivering(storeModel), isClosed: !storeModel.isOpen}" ng-repeat="storeModel in storesCollection"><i class="icn iStore"></i>{{ storeModel.title }}<span>{{ getDeliveryTimeString(storeModel) }}</span><i class="icn iNext"></i>
            </div>
        </div>
    </section>

</div>
