<aside id="header">
  <div id="ownLogo"></div>
  <div id="pageTitle">
    Deine SUBWAY<span class="superscript">&reg;</span>-Onlinetheke
  </div>
  <div id="toTheInfo"></div>
  <div id="woodenBorder"></div>
</aside>

<div class="content note fillPage">

  <section id="introduction">
    <p ng-show="!hideText">
      Bei sub2home bestellst du<br>genau wie an der Theke in einem SUBWAY<span class="superscript">&reg;</span>-Restaurant. Nur dass du dazu nicht das Haus verlassen musst. Wir kommen zu dir, also:
    </p>
    <p class="callToAction">
      Wohin dürfen wir liefern?
    </p>
    <postal-input app-focused="hideText" app-postal="postal"></postal-input>
  </section>

  <section id="chooseDeliveryArea">
    <header class="callToAction">
      Wähle eines der drei Liefergebiete:
    </header>
    <div id="selectableDeliveryAreas">
      <div class="deliveryArea">
        Innenstadt<span>(in 15min für min. 10.00€)</span>
      </div>
      <div class="deliveryArea">
        Amendingen<span>(in 20min für min. 14.00€)</span>
      </div>
      <div class="deliveryArea">
        Steinheim<span>(in 30min für min. 20.00€)</span>
      </div>
    </div>
  </section>

  <section id="chooseStore">
    <header class="callToAction">
      Foldgendes SUBWAY<span class="superscript">&reg;</span>-Restaurant liefert in dieses Gebiet:
    </header>
    <div id="selectableStores">
      <div class="store">Memmingen<span>liefert gerade</span></div>
      <div class="store isDelivering">Unterschleissheim<span>liefert gerade</span></div>
      <div class="store isNotDelivering">Garmisch-Partenkirchen<span>liefert wieder um 12 Uhr</span></div>
      <div class="store isClosed">Berlin Alexanderplatz<span>geschlossen</span></div>
    </div>
  </section>
</div>
