<aside id="header">
  <div id="ownLogo" class="icn iSub"></div>
  <div id="pageTitle">
    Deine SUBWAY<span class="superscript">&reg;</span>-Onlinetheke
  </div>
  <div id="toTheInfo" class="icn iInfo"></div>
</aside>

<div id="homeHome" class="content note fillPage {{ getStepClass() }}">

  <section class="note" id="introduction">
    <p id="introducingText">
      Bei sub2home bestellst du<br>genau wie an der Theke in einem SUBWAY<span class="superscript">&reg;</span>-Restaurant. Nur dass du dazu nicht das Haus verlassen musst. Wir kommen zu dir, also:
    </p>
    <p class="callToAction">
      Wohin dürfen wir liefern?
    </p>
    <p>
      <postal-input id="postalInputContainer" app-focused="inputFocused" app-postal="postal"></postal-input>
    </p>
    <p ng-show="selectedDeliveryArea && deliveryAreas.length > 1">
      <span id="editDeliveryArea" ng-click="resetDeliveryArea()"><i class="icn iWrench inSmallText before"></i>Liefergebiet bearbeiten</span>
    </p>
  </section>

  <section class="note" id="chooseDeliveryArea" ng-show="deliveryAreas.length > 1">
    <header class="callToAction">
      Wähle eines der {{ deliveryAreas.length }} Liefergebiete:
    </header>
    <div id="selectableDeliveryAreas">
      <div class="deliveryArea" ng-repeat="deliveryArea in deliveryAreas" ng-click="processDeliveryArea(deliveryArea)">
        {{ deliveryArea.district }}<span>(in {{ deliveryArea.minimumDuration }}min für mind. {{ deliveryArea.minimumValue }}€)</span>
      </div>
    </div>
  </section>

  <section class="note" id="chooseStore" ng-show="stores.length">
    <header class="callToAction">
      Folgendes SUBWAY<span class="superscript">&reg;</span>-Restaurant liefert in dieses Gebiet:
    </header>
    <div id="selectableStores">
      <a class="store" ng-href="/{{store.alias}}" ng-class="{isDelivering: isDelivering(store), isClosed: !store.isOpen}" ng-repeat="store in stores"><i class="icn iStore"></i>{{ store.title }}<span>{{ getDeliveryTimeString(store) }}</span><i class="icn iNext"></i></a>
    </div>
  </section>

</div>
