<div class="item sub" bindonce>
  <img bo-src="itemModel.largeImage" bo-alt="itemModel.title" />
  <h2><span bo-text="itemModel.title"></span><span class="infoButton"></span></h2>
  <p class="itemDescription hidden">
    BBQ Rib-Hacksteak mit rauchiger BBQ Sauce, Belag ganz nach deinem Geschmack.
  </p>
  <div class="buyingOption">
    <div ng-class="getBuyClass(itemModel.icon)" ng-click="handleBuyClick(itemModel)">
      <div class="pricetag">
        <h3>
          <div class="sizeTag" bo-text="itemModel.info" bo-if="itemModel.info"></div>
          <div class="price" bo-text="itemModel.price"></div>
        </h3>
        <div class="deposit" bo-if="itemModel.deposit > 0">+25 ct Pfand</div>
      </div>
    </div>
    <div ng-repeat="chainedArticleModel in itemModel.chainedArticlesCollection" ng-class="getBuyClass(chainedArticleModel.icon)" ng-click="handleBuyClick(chainedArticleModel)">
      <div class="pricetag">
        <h3>
          <div class="sizeTag" bo-text="chainedArticleModel.info"></div>
          <div class="price" bo-text="chainedArticleModel.price"></div>
        </h3>
      </div>
    </div>
  </div>
</div>
