<aside id="header">
  <div id="toggleCategories" class="icn iMenu"></div>
  <div id="pageTitle">
    <i class="icn iSub"></i>Subs
  </div>
  <div id="toTheInfo" class="icn iInfo"></div>
</aside>

<!-- Categories Navigation -->

<nav id="categoriesNavigation">
  <ul>
    <li bindonce ng-repeat="category in categories"><a bo-href="'#/' + $route.current.params.storeAlias + '/' + category.id" class="icn" bo-class="category.icon"><span bo-text="category.title"></span></a></li>
  </ul>
</nav>

<!-- / Categories Navigation -->

<div id="storeHome" class="content">

  <section class="note above" id="editLocation">
      in 20min nach {{ getDistrict() }} <i class="icn iWrench inSmallText after"></i>
  </section>
  <section id="articles">
    <item ng-repeat="item in items"></item>
  </section>

</div>
