<aside id="header">
  <div id="toggleCategories" class="icn iMenu"></div>
  <div id="pageTitle">
    <i class="icn iSub"></i>Subs
  </div>
  <div id="toTheInfo" class="icn iInfo"></div>
</aside>

<!-- Categories Navigation -->

<nav id="categoriesNavigation">
  <ul>
    <li><a href="#" class="icn iSub"></a></li>
    <li><a href="#" class="icn iWrap"></a></li>
    <li><a href="#" class="icn iSalad"></a></li>
    <li><a href="#" class="icn iSnacks"></a></li>
  </ul>
</nav>

<!-- / Categories Navigation -->

<div id="storeHome" class="content">

  <section class="note above" id="editLocation">
      in 20min nach {{ getDistrict() }} <i class="icn iWrench inSmallText after"></i>
  </section>
  <section id="articles">
    <item ng-repeat="item in items"></item>
  </section>

</div>
