// home.home

#homeHome {
  section {
    display: table-row;
  }
}


#introduction {

  height: 100%;
  .slide(.3s);

  #introducingText {
    margin-top: 20px;
  }

  .callToAction {
    margin: 0 0 60px;
    padding: 0 @bodyPadding;
    .transition(margin .2s ease);
  }

  &.translated {
    .translate(0,-400px,0);
  }

  &:after {
    content: "";
    display: block;
    height: 0px;
    .transition(height .3s ease);
    margin-bottom: -240px;
  }
}

#postalInputContainer {
  display: inline-block;
  padding: 25px 20px 18px;
  font-size: 40px;
  color: @onNoteColor;

  border: 3px dashed @onNoteColor50;
  .border-radius(3px);

  .transition(height .2s ease);

  .iCompass {
    vertical-align: baseline;
    margin-right: 10px;
    top: -1px;
    cursor: pointer;
    // .transformTransition(1s,linear);
    // animation-iteration-count: infinite;
    // -webkit-animation-iteration-count: infinite;
    // &.rotate {
    //   .rotate(360deg);
    // }
  }



  span {
    display: block;
    font-size: 18px;
  }

  &.postalOnly, &.focus {

    // .focus = after first character is typed; stays as long as at least one character is set

    #postalInput {
      width: 110px;
    }
    .iCompass {
      display: none;
    }
  }
}

#postalInput {
  display: inline-block;
  text-align: center;
  width: 190px;
  height: 50px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: @greenDark;
  .border-box;
  .transition(width .2s ease);
}



#chooseDeliveryArea {
  padding: 0;
  overflow: hidden;
  display: block !important;
  .opacity(0);
  height: 0;

  header {
    margin: 25px 10px 20px;
  }
}

#editDeliveryArea {
  color: @onNoteColor50;
}

#selectableDeliveryAreas {

  .deliveryArea {

    padding: 10px;
    font-size: 24px;
    border-bottom: 1px solid @onNoteColor30;

    &:first-child {
      border-top: 1px solid @onNoteColor30
    }

    span {
      display: block;
      font-size: 13px;
    }
  }
}

#chooseStore {
  display: block !important;
  padding: 0;
  overflow: hidden;
  .opacity(0);
  height: 0;

  header {
    margin: 25px 10px 20px;
  }
}

#selectableStores {

  background: @darkNote;
  border-top: 1px solid @onNoteColor50;
  .box-shadow(inset 0 1px 3px 0 @globalShadowColor15);

  .store {

    position: relative;
    display: block;
    text-align: left;
    color: @onDarkNoteColor;
    text-decoration: none;
    font-size: 24px;
    padding: 20px 55px 20px 75px;

    border-bottom: 1px solid @onDarkNoteColor30;

    .iStore, .iNext {
      position: absolute;
      top: 23px;
      left: 20px;
      font-size: 40px;
      color: @onNoteColor50;
    }

    .iNext {
      left: auto;
      right: 10px;
      color: @noteColor;
      text-shadow: 0 0 3px @globalShadowColor55;

    }

    span {
      display: block;
      font-size: 13px;

      &:before {
        content: " ";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background: @orange;
        .img-circle;
      }
    }
    &.isClosed span:before{
      background: @red;
    }
    &.isDelivering span:before{
      background: @greenLighter;
    }
  }
}



// STEPS

.step1 {

  #introduction {
    .translate(0,0,0);
  }
}

.step2 {

  overflow: hidden;
  &.fillPage {
    position: fixed;
  }
  bottom: 0;

  #introduction {

    // .translate(0,-195px,0);

    // &:after {
    //   height: 500px;
    // }
    // .callToAction {
    //   margin: 50px 0 10px;
    // }
  }
}

.step3 {


  #introduction {

    .translate(0,-220px,0);

    .callToAction {
      margin: 50px 0 10px;
    }
  }

  #chooseDeliveryArea {
    .opacity(100);
    height: auto;
    display: block;
    .fadeIn;
  }
}

.step4 {

  #introduction {
    .translate(0,-220px,0);

    .callToAction {
      margin: 50px 0 10px;
    }
  }

  #chooseStore {
    .opacity(100);
    display: block;
    height: auto;
    .fadeIn;
  }
}
