// home.home

#introduction {

  height: 100%;

  #introducingText {
    margin-top: 50px;
  }

  .callToAction {
    margin: 0 0 60px;
    padding: 0 @bodyPadding;
    .transition(margin .2s ease);
  }

  &.translated {
    .translate(0,-400px,0);
  }
}

#postalInputContainer {
  display: inline-block;
  padding: 25px 20px 18px;
  font-size: 40px;
  color: @onNoteColor;

  border: 3px dashed @onNoteColor50;
  .border-radius(3px);

  .iCompass {
    vertical-align: baseline;
    margin-right: 10px;
    top: -1px;
  }

  span {
    display: block;
    font-size: 18px;
  }

  &.postalOnly {
    width: 160px;

    #postalInput {
      width: 100%;
    }
    .iCompass {
      display: none;
    }
  }
}

#postalInput {
  display: inline-block;
  text-align: center;
  width: 190px;
  height: 50px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: @greenDark;
  .border-box;
}



#chooseDeliveryArea {
  padding: 0;

  header {
    margin: 25px 10px 20px;
  }
}

#editDeliveryArea {
  color: @onNoteColor50;
}

#selectableDeliveryAreas {

  .deliveryArea {

    padding: 10px;
    font-size: 24px;
    border-bottom: 1px solid @onNoteColor30;

    &:first-child {
      border-top: 1px solid @onNoteColor30
    }

    span {
      display: block;
      font-size: 13px;
    }
  }
}

#chooseStore {
  padding: 0;
  header {
    margin: 25px 10px 20px;
  }
}

#selectableStores {

  background: @darkNote;
  border-top: 1px solid @onNoteColor50;
  .box-shadow(inset 0 1px 3px 0 @globalShadowColor15);

  .store {

    position: relative;
    display: block;
    text-align: left;
    color: @onDarkNoteColor;
    text-decoration: none;
    font-size: 24px;
    padding: 20px 55px 20px 75px;

    border-bottom: 1px solid @onDarkNoteColor30;

    .iStore, .iNext {
      position: absolute;
      top: 23px;
      left: 20px;
      font-size: 40px;
      color: @onNoteColor50;
    }

    .iNext {
      left: auto;
      right: 10px;
      color: @noteColor;
      text-shadow: 0 0 3px @globalShadowColor55;

    }

    span {
      display: block;
      font-size: 13px;

      &:before {
        content: " ";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background: @onNoteColor30;
        .img-circle;
      }
    }
    &.isClosed span:before{
      background: @red;
    }
    &.isDelivering span:before{
      background: @greenLighter;
    }
    &.isNotDelivering span:before{
      background: @orange;
    }
  }
}



// STEPS

.step1 {
  .translate(0,0,0)
}

.step2 {
  .translate(0,-245px,0);

  #introduction {
    .callToAction {
      margin: 50px 0 10px;
    }
  }
}

.step3 {
  .translate(0,-295px,0);
}
