// store.tray

// Variables

// Image-Widths:

// @subImageWidth:
// @WrapImageWidth:
// @SaladImageWidth:
@snacksImageWidth:    35px;
@beverageImageWidth:  22px;
@cateringImageWidth:  35px;

@smallSnacksImageWidth: 	25px;
@smallBeverageImageWidth: 16px;


#storeTray {
	overflow-x: hidden;
	
	.emphasized {
		color: @onNoteColor;
	}
}

// Tray-Storyline

#storyline {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 36px;
  height: 100%; // HAS TO BE REMOVED
  z-index: 101;
  // .transition(height .1s linear);

  ul {
    list-style-type: none;
    padding-top: @headerHeight;
    .border-box;
    height: 100%;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 16px;
      bottom: 0;
      height: 10%;
      // margin-top: 5px;
      width: 1px;
      background: @onNoteColor50;
      z-index: 3;
    }

    li {
      height: 20px;
      width: 20px;
      padding-left: 14px;
      position: relative;
      height: 20%;
      min-height: 15px;
      margin: 0;
      z-index: 4;

      &:before {
        content: "";
        display: block;
        position: absolute;
        right: 14px;
        top: -50%;
        height: 100%;
        margin-top: 5px;
        width: 1px;
        background: @onNoteColor50;

      }
      &:after {
        display: block;
        content: "";
        height: 11px;
        width: 11px;
        .img-circle;
        border: 1px solid @onNoteColor50;
        background: @noteColor;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        .border-box;
      }

      &.passed {

        &:before {
          background: @greenLight50;
        }

        &:after {
          background: @greenLight;
          border: 2px solid @noteColor;
        }

        &.previousNotPassed {
          &:before {
            background: @onNoteColor50;
          }
        }
      }

      &.active {
        position: relative;
        z-index: 9999;

        &:before {
          margin-top: 11px;
        }
        &:after {
          position: relative;
          background: @greenLight;
          border: 2px solid @noteColor;
          width: 15px;
          height: 15px;
          left: -2px;
        }
      }

      &.forgotten {
        &:after {
          background: @orange;
          border: 2px solid @noteColor;
        }
      }
    }
  }

  &.static {
    position: absolute;
  }
}


// Content

#minimumOrderValue {
  position: relative;
  border-bottom: 1px solid @onNoteColor50;
  z-index: 110;
  .button {
    border-color: @onDarkNoteColor50;
  }
}

#minimumOrderValueContent {
  background: @darkNote;
  padding: 15px 0;
  color: @onDarkNoteColor;

}


// Main Content

#storeTrayMainContent {
  .border-box;
  padding-right: 36px;

  section {
    padding-top: 50px;
    text-align: left;

    header {
      color: @greenLight;
      padding: 0 0 25px 20px;
      border-bottom: 1px solid @onNoteColor50;
    }
    .container {

    }

    p {
      padding: 20px 0 0 20px;
      color: @onNoteColor50;
    }

    // trayQuestions

    .trayQuestion {
      position: relative;
      border-bottom: 1px solid @onNoteColor50;
      // &:last-child {
      //   border-bottom: 1px solid @onNoteColor50;
      // }
      .questionText {
        padding: 20px 45px 15px 20px;
        margin: 0;
        color: @onNoteColor;
      }
    }
    .trayQuestionContent {
      margin: 20px 0 20px 20px;
      &.textareaContent {
        position: relative;
        &:before, &:after {
          content: "";
          display: block;

          position: absolute;
          left: 0px;
          right: 0px;
          top: 33px;

          height: 26px;
          margin: 0 10px;
          border-top: 1px solid @onNoteColor50;
          border-bottom: 1px solid @onNoteColor50;
        }
        &:after {
          top: 87px;
        }
      }

      &.inputContent {
        input {
          width: 100%;
          .border-box;
        }
      }

      &.subcardContent {
        p {
          padding: 0;
          margin-right: 100px;
          &.postSuccess {
            display: none;
          }
        }
        .icn {
          position: absolute;
          top: -5px;
          right: 0;
          font-size: 80px;
          cursor: pointer;
        }
        &.success {
          p {
            &.preSuccess {display: none}
            &.postSuccess {display: block}
          }
          .icn {
            color: @greenLighter;
            cursor: default;
          }
        }
      }
    }
  }
}


// Used in more than one section:

.toggleOptions, .triggerQuestion {
  position:absolute;
  right: 0;
  padding: 10px;
  top: 50%;
  margin-top: -22px;
  height: 25px;
  font-size: 24px;
  color: @onNoteColor50;
  cursor: pointer;
  .transformTransition(.2s, linear);
  &:before {
    content: "\e604";
    font-family: "Homicons";

  }
}




// Tray Summary -----------------------------------

#traySummary {

  // Element Styles

//  .itemContent {
//    position: relative;
//    .transformTransition(.2s,ease);
//  }

	// Item Options

  .itemOptions {
    position: absolute;
    right: 55px;
    top: 50%;
    margin-top: -25px;
    white-space: nowrap;

    div {
      display: inline-block;
    }

    .editItem, .removeItem, .submitRemoveItem, .discardRemoveItem {
      height: 50px;
      width: 50px;
      .img-circle;
      background: @onNoteColor50;
      margin-left: 7px;
      text-align: center;
      .border-box;
      padding-top: 12px;
      font-size: 24px;
      color: @noteColor;
      cursor: pointer;
      .transition(opacity .1s linear);
      &:before {
        font-family: "Homicons";
      }
    }

    .editItem:before {
      content: "\e61e";
    }
    .removeItem:before {
      content: "\e61f";
    }

    .submitRemoveItem {
      background: @greenLight70;
      &:before {
        content: "\e609";
      }
    }
    .discardRemoveItem {
      background: @red70;
      &:before {
        content: "\e60a";
      }
    }

    .opacity(0);
    .transition(opacity .1s .1s linear);
  }

  .removeItemContainer {
    .opacity(0);
    width: 0;
    .transition(e('width .3s ease, opacity .1s .3s linear'));
  }

	// / Item Options End


	.item {
    position: relative;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid @onNoteColor50;
	}

	.itemContent {
		position: relative;
		.border-box;
		display: table;
		width: 100%;
		padding-right: 45px;
		table-layout: fixed;
		.transformTransition(.2s, ease);
	}

	.itemPreview, .itemTitle, .priceColumn {
		display: table-cell;
		.border-box;
		vertical-align: middle;
	}

	// Item Preview

	.itemPreview {
		width: 58px;

		img {
			width: 100%;
			height: auto;
		}
	}

	// Item Title

	.itemTitle {
		padding-left: 10px;
		font-size: 18px;
		line-height: 1.1;
		overflow: hidden;
		text-overflow: ellipsis;
		h4 {
			font-size: 18px;
		}

		.itemInfo {
			color: @onNoteColor50;
		}

		p {
			padding: 6px 0 0 !important;
			margin: 0;
			font-size: 13px;
		}
	}

	// Price Container

	.priceColumn {
		width: 70px;
		text-align: right;
		padding-top: 5px;
		.itemPreview {
			display: inline-block;
		}
	}

	.price {
    font-size: 20px;
  }

  .deposit {
    font-size: 12px;
  }


	.item {
		&.beverage {
			.itemPreview { width: 22px; }
			.priceColumn {
				padding-top: 0;
			}
		}

		&.menuBundle {
			.menuHead {
				position: relative;
				margin-bottom: 10px;
				.itemPreview {
					display: none;
				}
			}
			.menuContents {
				margin: 0 45px 0 0;
				border-top: 1px solid @onNoteColor50;

				.item {
					padding: 10px 0 10px 10px;
					&:last-child {
						border-bottom: none;
						padding-bottom: 0;
					}
				}

				.item {
					position: relative;
					.border-box;
					display: table;
					width: 100%;
					table-layout: fixed;
				}

				.itemPreview {
					vertical-align: top;
				}
				.itemTitle, .itemTitle h4 {
					font-size: 16px;
				}

			}
		}
	}

//  .itemDescription {
//    margin-right: 120px;
//  }
//
//  .itemPreviewTitle {
//		display: table;
//		width: 100%;
//		table-layout: fixed;
//		position: relative;
//		box-sizing: border-box;
//
//    .itemPreview, .itemTitle {
////      white-space: normal;
//      vertical-align: middle;
////      display: inline-block;
//			display: table-cell;
//			position: relative;
//    }
//
//		.itemPreview {
//			img {
//				width: 100%;
//				height: 35px;
//			}
//		}
//
//    .itemTitle {
//			padding: 0 120px 0 5px;
//			width: auto;
//			display: table-cell;
//    }
//
//  }
//
//  h4 {
//    font-size: 18px;
//		line-height: 1.1;
//    .itemInfo {
//      color: @onNoteColor50;
//    }
//  }
//
//  p {

//  }
//
//  .staticColumn {
//    position: absolute;
//    right: 0;
//    top: 50%;
//    width: 115px;
//    .border-box;
//    padding: 0 45px 0 0;
//    margin-top: -10px;
//  }
//

  // Basic Item Styles


//
//    .itemPreview {
//      height: 35px;
//      width: auto;
//    }

//    &.sub {
//
//      .itemPreview {
//        width: 65px;
//        height: auto;
//      }
//
//      .staticColumn {
//        margin-top: -35px;
//      }
//    }
//
//    &.menuBundle {
//
//			.menuHead {
//				position: relative;
//				margin-bottom: 10px;
//				.transition(margin .1s linear);
//				.itemPreview {
//					height: 35px;
//					display: none;
//				}
//				.itemTitle {
//					margin-right: 5px;
//				}
//			}
//
//			.menuContents {
//
//				margin: 0 45px 0 0;
//				border-top: 1px solid @onNoteColor50;
//
//				.itemPreviewTitle {
//					margin-right: 15px;
//				}
//
//				.itemPreview {
//					height: 25px;
//					width: auto;
//				}
//				h4 {
//					font-size: 16px;
////					margin-right: 0 !important;
//				}
//
//				.sub {
//					.itemPreview {
//						height: auto;
//						width: 50px;
//					}
//				}
//				.menuItemInfo {
//					white-space: normal;
//					display: inline-block;
//					vertical-align: top;
//					margin-right: 50px;
//					p {
//						margin-left: 5px;
//						padding-top: 0 !important;
//					}
//				}
//
//				.item {
//					padding: 10px 0 10px 10px;
//
//					&.snacks {
//						.itemTitle { margin-right: @smallSnacksImageWidth + 5px; }
//					}
//					&.beverage {
//						.itemTitle { margin-right: @smallBeverageImageWidth + 5px; }
//					}
//
//					&:last-child {
//						border-bottom: none;
//						padding-bottom: 0;
//					}
//				}
//
//			}
//
//      .staticColumn {
//        margin-top: -11px;
//      }
//
//      .itemDescription {
//        line-height: 50px;
//
//        h4 {
//          display: inline-block;
//          vertical-align: middle;
//        }
//      }
//
//			&.edit {
//				.menuHead {
//					margin-bottom: 20px;
//				}
//			}
//			&.editBwd {
//				.menuHead {
//					.transition(margin .1s .2s linear);
//					margin-bottom: 10px;
//				}
//			}
//
//    }
//
//    &.snacks {
//      .itemTitle {
//        margin-right: @snacksImageWidth + 5px;
//      }
//    }
//
//    &.beverage {
//
//      .itemTitle {
//        margin-right: @beverageImageWidth + 5px;
//      }
//
//      .staticColumn {
//        margin-top: -19px;
//      }
//    }


		// Animations

    // Edit State
 .item {
    &.edit {
      .itemContent {
        .translate(-150px,0,0);
        .opacity(50);
      }
      .itemOptions {
        .opacity(100);
      }
      .toggleOptions {
        .rotate(180deg);
      }
    }
    &.editBwd {
      .itemContent {
        .translate(0,0,0);
        .opacity(100);
        .transformTransition(.2s .2s,ease);
      }

      .itemOptions {
        .opacity(0);
      }

      .toggleOptions {
        .rotate(0deg);
      }
    }

    &.remove {
      .editItem {
        .opacity(0);
      }
      .removeItemContainer {
        .opacity(100);
        width: 120px;
      }
      .itemContent {
        .translate(-210px,0,0);
      }
    }
    &.removeBwd {
      .removeItemContainer {
        .opacity(0);
        width: 0px;
        .transition(e('width .3s .1s ease, opacity .1s linear'));
      }
      .itemContent {
        .translate(-150px,0,0);
        .transformTransition(.2s .2s,ease);
      }
      .editItem {
        .transition(opacity .1s .2s linear);
        .opacity(100);
      }
    }
  }
}

#totalValueContainer {
  position: relative;
  margin-top: 2px;
  padding: 22px 45px 0 20px;
  border-top: 1px solid @onNoteColor50;
  color: @onNoteColor50;
	display: table;
	width: 100%;
	.border-box;

}

#totalValue, #totalValueLabel {
	display: table-cell;
}

#totalValue {
  color: @onNoteColor;
	text-align: right;
}

// Delivery Time -----------------------------------

#deliveryTimeClock {
  position: relative;

  margin: 20px 0 20px 20px;
  .border-box;
  border: 1px solid @onNoteColor50;
  border-radius: 3px;
  text-align: center;
  > div {
    position: relative;
    display: inline-block;
    font-size: 75px;
    vertical-align: top;
    padding: 40px 5px 30px;
  }

	#hours, #minutes {
		width: 90px;
	}
}

.clockControls {
  font-family: "Homicons";
  font-size: 30px;
  display: block;
  position: absolute;
  left: 0;
  color: @onNoteColor50;
  width: 100%;
  padding: 17px 0;
  cursor: pointer;

  &.up {
    top: 0;
    padding-bottom: 23px;
    &:before {
      content: "\e620"
    }
  }
  &.down {
    bottom: 0;
    padding-top: 23px;
    &:before {
      content: "\e621"
    }
  }
	&.unavailable {
		color: @onNoteColor20;
		cursor: default;
	}
}

// #hours:before {
//   content: "\e620";
//   margin-right: 7px;
// }
//
// #minutes:after {
//   content: "\e621";
//   margin-left: 7px;
// }

#dividingDots {
  top: -8px;
  color: @onNoteColor50;
}

// Delivery Address -----------------------------------

#setDeliveryAddress {
  .trayQuestion {
    border-top: 1px solid @onNoteColor50;
  }
}

.inputGroup {
  margin: 10px 0 0 20px;
  position: relative;

  input {
    width: 100%;
    .border-box;
    color: @onNoteColor;
  }
  .inputContainer {
    padding-top: 9px;
    position: relative;
    .border-box;
    .box-shadow(none);

    &:after {
      font-family: "Homicons";
      font-size: 13px;
      position: absolute;
      right: 10px;
      top: 24px;
    }
    &.valid:after {
      content: "\e609";
      color: @greenLighter;
    }
    &.invalid {
      input {
        color: @orange;
        border-color: @orange50;
      }
      &:after {
        content: "\e60a";
        color: @orange;
      }
    }
  }

	.addField {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 42px;
		width: 42px;
		background: @onNoteColor50;
		.border-radius(3px);
		text-align: center;
		cursor: pointer;
		display: none;

		&:before {
			content: "\e622";
			font-family: "Homicons";
			color: @noteColor;
			font-size: 24px;
			position: relative;
			top: 9px;
		}
	}

  &.additionalFields {
    .inputContainer:last-child {
      margin-right: 50px;
    }
		.addField {
			display: block;
		}
  }
}

#trayDeliveryArea {
  margin-bottom: 20px;
  color: @onNoteColor;
}

#trayAdditionalInfo {
  padding: 0 0 0 20px !important;
  margin-bottom: 20px;
}



// Payment Method -----------------------------------

#storeTrayMainContent #setPaymentMethod {

  p {
    padding: 0 0 15px 20px;
    margin-bottom: 0;
  }
}

#paymentMethods {
  margin-left: 20px;
  padding: 20px 0;
}

.paymentMethod {
  display: inline-block;
  border: 1px solid @onNoteColor50;
  .border-radius(3px);
  padding: 10px 10px 7px;
  margin-left: 9px;
  .border-box;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &.active {
    background: @onNoteColor;
    color: @noteColor;
    border-color: @onNoteColor;
  }
}

// Order Hint -----------------------------------

#storeTrayMainContent #sendOrderHint {
  text-align: center;
  border-top: 1px solid @onNoteColor50;
  padding-bottom: 30px;
  .icn {
    font-size: 50px;
    color: @onNoteColor50;
  }

  h4 {
    line-height: 1.3;
    font-size: 20px;
    padding: 20px 15px;
    color: @onNoteColor70;
  }
}

// Send Order -----------------------------------

#sendOrder {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 110;

  .container {
    background: @darkNote;
    border-top: 1px solid @onNoteColor50;
    .box-shadow(inset 0 1px 3px 0 @globalShadowColor15);
    padding: 30px 20px 20px;
  }

  p {
    padding: 0;
    color: @onDarkNoteColor50;
  }
}

#sendOrderButton {
  padding: 30px 20px;
  margin: 30px 0 0;
  color: @greenLight;
  font-size: 24px;
  line-height: 1;
  .border-radius(3px);
  border: 2px solid @greenLight;
  cursor: pointer;

  &:active {
    background: @greenLight;
    color: @noteColor;
  }

  &.processing {
    > span {
      display: none;
    }
    
    .buttonLoader {
      .opacity(100);
    }
  }
}
