// store.home

// Variables

@navWidth:   50px;

#toggleCategories {
  &:before {
    top: -5px;
  }

}


#categoriesNavigation {
  position: absolute;
  padding-top: 53px;
  .border-box;

  width: @navWidth;
  overflow: hidden;
  height: 100%;
  background: @darkBackground;

  .translate(-@navWidth,0,0);
  .transformTransition(.3s,ease);

  ul {
    li {
      display: block;
      height: 50px;
      .border-box;
      padding: 10px;
      color: @white;
      text-shadow: 0 0 5px rgba(0,0,0,0.5);
      border-bottom: 1px solid rgba(0,0,0,0.3);
    }
  }
}

#storeHome {
  .translate(0,0,0);
  .transformTransition(.3s,ease);
  .box-shadow(0 0 5px 0 rgba(0,0,0,0.5));
}



#editLocation {
  padding: 20px @bodyPadding 13px;
  font-size: 24px;
  .icn {
    font-size: 20px;
  }
}

#articles {

  .item {
    padding: 30px @bodyPadding;
    border-bottom: 1px solid @darkerWhite;
  }

  h2 {
    color: @greenDark;
  }

  .buyingOption {

    margin-top: 15px;

    > a {
      display: inline-block;
      background: @noteBackground;
      padding: 3px;
      border-radius: 3px;
      border: 1px solid @noteBorderColor;
      .box-shadow(0 1px 3px 0 @globalShadowColor15);

      &:last-child {
        margin-left: 10px;
      }

      &:first-child {
        margin-left: 0;
      }

      .pricetag {
        border-radius: 2px;
        border: 3px dashed @onNoteColor50;
        padding: 2px 7px;

        h3 {
          // font-size: 28px;
          color: @greenDark;
          display: inline-block;
          line-height: 1;
          text-align: left;
        }


        .sizeTag {
          font-size: 16px;
          color: @onNoteColor;
        }
      }
    }

    .buy6inch {
      .pricetag:before {
        content: "\e600";
        font-family: "Homicons";
        display: inline-block;
        color: @onNoteColor50;
        font-size: 40px;
        margin-right: 5px;
      }
    }
    .buyFootlong {
      .pricetag:before {
        content: "\e600";
        font-family: "Homicons";
        display: inline-block;
        color: @onNoteColor50;
        font-size: 40px;
        margin-right: 5px;
      }
    }
  }
}


// Toggle States

#categoriesNavigation.navToggled {
  .translate(0,0,0);
}

#storeHome.navToggled {
  .translate(@navWidth,0,0);
}
