// store.tray

// Variables

// Image-Widths:

// @subImageWidth:
// @WrapImageWidth:
// @SaladImageWidth:
@snacksImageWidth:     35px;
@beverageImageWidth:  22px;
@cateringImageWidth:  35px;



// Tray-Storyline

#storyline {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  z-index: 101;

  ul {
    list-style-type: none;
    padding-top: @headerHeight;
    .border-box;
    height: 100%;

    li {
      height: 20px;
      width: 20px;
      padding-left: 14px;
      position: relative;
      height: 20%;
      min-height: 15px;
      margin: 0;

      &:before {
        content: "";
        display: block;
        position: absolute;
        right: 14px;
        top: -50%;
        height: 100%;
        margin-top: 5px;
        width: 1px;
        background: @onNoteColor50;

      }
      &:after {
        display: block;
        content: "";
        height: 11px;
        width: 11px;
        .img-circle;
        border: 1px solid @onNoteColor50;
        background: @noteColor;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        .border-box;
      }



      &.passed {

        &:before {
          background: @greenLight50;
        }

        &:after {
          background: @greenLight;
          border: 2px solid @noteColor;
        }

        &.previousNotPassed {
          &:before {
            background: @onNoteColor50;
          }
        }
      }

      &.active {
        position: relative;
        z-index: 9999;

        &:before {
          margin-top: 11px;
        }
        &:after {
          position: relative;
          background: @greenLight;
          border: 2px solid @noteColor;
          width: 15px;
          height: 15px;
          left: -2px;
        }
      }

      &.forgotten {
        &:after {
          background: @orange;
          border: 2px solid @noteColor;
        }
      }
    }
  }
}


// Content

#storeTray {
  // background: @noteBackground;
  .border-box;
  padding-right: 36px;

  section {
    padding-top: 50px;
    text-align: left;

    header {
      color: @greenLight;
      padding: 0 0 25px 20px;
      border-bottom: 1px solid @onNoteColor50;
    }
    .container {

    }
  }
}


#traySummary {

  // Element Styles

  .itemContent {
    position: relative;
    .transformTransition(.2s,ease);
  }

  .itemOptions {
    position: absolute;
    right: 45px;
    top: 50%;
    margin-top: -25px;

    > div {
      height: 50px;
      width: 50px;
      .img-circle;
      background: @onNoteColor50;
      display: inline-block;
      margin-left: 10px;
      text-align: center;
      .border-box;
      padding-top: 12px;
      font-size: 24px;
      color: @noteColor;
      &:before {
        font-family: "Homicons";
      }
    }
    .editItem:before {
      content: "\e61e";
    }
    .removeItem:before {
      content: "\e61f";
    }

    .opacity(0);
    .transition(opacity .1s .1s linear);
  }

  .itemDescription {
    margin-right: 120px;
  }

  .itemPreviewTitle {
    margin-right: 110px;
    line-height: 40px;
    white-space: nowrap;

    .itemPreview, h4 {
      white-space: normal;
      vertical-align: middle;
      display: inline-block;
    }

    h4 {
      margin-left: 5px;
    }

  }

  h4 {
    font-size: 20px;
    .itemInfo {
      color: @onNoteColor50;
    }
  }

  p {
    padding: 6px 0 0;
    margin: 0;
    font-size: 12px;
  }

  .staticColumn {
    position: absolute;
    right: 0;
    top: 50%;
    width: 106px;
    .border-box;
    padding: 0 45px 0 0;
    margin-top: -10px;
  }

  .price {
    font-size: 20px;
    text-align: right;
  }

  .deposit {
    font-size: 12px;
  }

  .toggleOptions {
    position:absolute;
    right: 6px;
    top: 50%;
    margin-top: -12px;
    height: 25px;
    font-size: 24px;
    color: @onNoteColor50;
    .transformTransition(.2s, linear);
    &:before {
      content: "\e604";
      font-family: "Homicons";

    }

  }

  // Basic Item Styles

  .item {
    position: relative;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid @onNoteColor50;


    .itemPreview {
      height: 35px;
      width: auto;
    }

    &.sub, &.menuBundle {

      // .itemContent {
      //   min-height: 50px;
      // }

      .itemPreview {
        width: 65px;
        height: auto;
      }

      .staticColumn {
        margin-top: -35px;
      }
    }

    &.menuBundle {

      .staticColumn {
        margin-top: -11px;
      }

      .itemDescription {
        line-height: 50px;

        h4 {
          display: inline-block;
          vertical-align: middle;
        }
      }

    }

    &.snacks {
      .itemTitle {
        margin-right: @snacksImageWidth + 5px;
      }
    }

    &.beverage {

      .itemTitle {
        margin-right: @beverageImageWidth + 5px;
      }

      .staticColumn {
        margin-top: -19px;
      }
    }


    // Edit State

    &.edit {
      .itemContent {
        .translate(-140px,0,0);
        .opacity(50);
      }
      .itemOptions {
        .opacity(100);
      }
      .toggleOptions {
        .rotate(180deg);
      }
    }
  }
}

#totalValueContainer {
  position: relative;
  margin-top: 2px;
  padding: 22px 0 0 20px;
  border-top: 1px solid @onNoteColor50;
  color: @onNoteColor50;

  #totalValue {
    position: absolute;
    right: 45px;
    top: 20px;
    color: @onNoteColor;
  }
}
