<aside id="header">
  <div id="ownLogo"></div>
  <div id="pageTitle">
    Deine SUBWAY<span class="superscript">&reg;</span>-Onlinetheke
  </div>
  <div id="toTheInfo"></div>
  <div id="woodenBorder"></div>
</aside>

<div class="content note fillPage">
  <section id="introduction">
    <p>
      Bei sub2home bestellst du<br>genau wie an der Theke in einem SUBWAY-Restaurant. Nur dass du dazu nicht das Haus verlassen musst. Wir kommen zu dir, also:
    </p>
    <p class="callToAction">
      Wohin dürfen wir liefern?
    </p>

    <input type="text" class="bigInput" name="" value="" placeholder="Postleitzahl">
  </section>
</div>
